<app-loader [loader]="loader"></app-loader>
<section class="content">
  <div *ngIf="!loader">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body no-padding">
            <table class="table table-responsive">
              <tr>
                <th>Empresa</th>
                <th>Modelo</th>
                <th>Retorno</th>
                <th>Prazo</th>
                <th>Objetivo</th>
                <th></th>
              </tr>
              <tr *ngFor="let round of rounds | paginate: { itemsPerPage: 12, currentPage: p }">
                <td>{{ round.property + ' - ' + round.builder }}</td>
                <td> Imobiliário </td>
                <td>{{ round.returnTimeInMonths }} meses </td>
                <td>{{ round.duration }} dias</td>
                <td>R$ {{ round.quotas * round.quotaValue | moneyMask : true }}</td>
                <td><button (click)="publishRound(round.id)" class="btn-upangel" style="margin-bottom: 5px;">Publicar</button></td>
              </tr>
            </table>
            <app-count [count]="!(rounds?.length > 0)" [textContador]="textRegister"></app-count>
            <div class="pagination-footer">
              <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
                [responsive]="responsive" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
