<footer class="main-footer">
  <!-- <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div> -->
  <!-- <strong>Copyright &copy; 2018 <a href="https://investplus.vc" target="_blank">Invest Plus</a></strong> -->
  <!-- <p>
    Em respeito a você, a InvestPlus importa em informar que, as sociedades empresárias de pequeno porte e as ofertas apresentadas nesta plataforma estão automaticamente dispensadas de registro pela Comissão de Valores Mobiliários – CVM e que a InvestPlus é uma plataforma de investimento autorizada pela Comissão de Valores Mobiliários – CVM. Ainda, a CVM não analisa previamente as ofertas. As ofertas realizadas não implicam por parte da CVM a garantia da veracidade das informações prestadas, de adequação à legislação vigente ou julgamento sobre a qualidade da sociedade empresária de pequeno porte.
    Com isso, para que possa aproveitar nossa plataforma da melhor maneira possível, visto que este nicho de mercado não garante retorno do investimento aplicado e que existe o risco de perdas parciais ou totais em relação ao dinheiro investido. Indicamos que os investimentos em startups não perfaçam o único produto de sua carteira de investimentos. Antes de investir procure informações e adquira o conhecimento necessário para entender sobre as possibilidades de riscos, de modo que tome as melhores decisões sobre os investimentos. Por fim, veja nosso Aviso de Risco em cada oferta e leia com atenção o material didático do investidor e as informações essenciais que integram a oferta.
  </p>
  <strong>
    Termos Gerais | Aviso de risco | Política de Privacidade e Proteção de Dados Pessoais | Regulamento CVM | Lista de ofertas encerradas | Lista de empresas Inadimplentes | Código de Ética e Conduta | Política de Cookies
  </strong>
  <p>
    Invest Plus © Todos os direitos reservados
  </p>
</footer>  -->

<!-- <aside class="control-sidebar control-sidebar-light">
  
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"></a></li>
  </ul>
  
  <div class="tab-content">

    <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
      <div>
        <ul>
          <li class="user-header" style="background-color: #fff">
            <div class="row">
              <div class="col-md-4">
                <img alt="User profile picture" class="profile-user-img img-responsive img-circle" src={{base64textString}}>
              </div>
              <div class="col-md-8 padding-l">
                <p class="margin-t-15"><b>{{ investor?.fullName }}</b>
                  <br><small>{{investor?.email}}</small>
                </p>
              </div>
            </div>
          </li>
          <li>
            <h4>Investimentos</h4>
          </li>
          <li class="second-level"  routerLinkActive="active">
            <a routerLink="./rounds/company/list">
              Rodadas de investimentos abertas
            </a>
          </li>
          <li class="second-level" routerLinkActive="active">
              <a  routerLink="./portfolio">
                Portfolio
              </a>
            </li>
        </ul>
      </div>
    </div>
   
  </div>
</aside> -->
