/* .control-sidebar.control-sidebar-open,
.control-sidebar.control-sidebar-open+.control-sidebar-bg {
  right: 0;
  height: 100%;
}

.control-sidebar-bg,
.control-sidebar {
  top: 0;
  right: -330px;
  width: 330px;
  transition: right 0.3s ease-in-out;
  height: 100%;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 10px;
}

p {
  font-size: 14px;
}

.margin-t-15 {
  margin-top: 15px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: auto;
  padding: 10px;
  text-align: center;
}

.padding-l {
  padding-left: 0px !important;
}

.profile-user-img {
  margin: 0 auto;
  width: 66px;
  height: 66px;
  padding: 3px;
  border: 3px solid #d2d6de;
}

.navbar-nav>.user-menu>.dropdown-menu,
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #286268 !important;
}

li {
  list-style-type: none;
}

ul {
    padding: 0px;
}

h4 {
    color: #7e868e;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 15px 10px 15px;
}

.second-level {
    color: #333;
    font-size: 14px;
    text-transform: none;
    padding: 0px 15px 15px 35px;
}

a {
    color: #333;
} */