<!-- <footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2018 <a href="https://imob.fcjinvest.com.br">FCJ Invest</a></strong>
</footer>  -->

<!-- <aside class="control-sidebar control-sidebar-light">
  
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"></a></li>
  </ul>
  
  <div class="tab-content">

    <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
      <div>
        <ul>
          <li class="user-header" style="background-color: #fff">
            <div class="row">
              <div class="col-md-4">
                <img alt="User profile picture" class="profile-user-img img-responsive img-circle" src={{base64textString}}>
              </div>
              <div class="col-md-8 padding-l">
                <p class="margin-t-15"><b>{{ investor?.fullName }}</b>
                  <br><small>{{investor?.email}}</small>
                </p>
              </div>
            </div>
          </li>
          <li>
            <h4>Investimentos</h4>
          </li>
          <li class="second-level"  routerLinkActive="active">
            <a routerLink="./rounds/company/list">
              Rodadas de investimentos abertas
            </a>
          </li>
          <li class="second-level" routerLinkActive="active">
              <a  routerLink="./portfolio">
                Portfolio
              </a>
            </li>
        </ul>
      </div>
    </div>
   
  </div>
</aside> -->
