h1,
.h1 {
  font-size: 24px !important;
  text-align: left;
  /* color: #2e7e89; */
  color: #444;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
}

tr:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

tr {
  cursor: pointer;
}

.even-row {
  background-color: #FAFAFA;
}

.hover-svg:hover path {
  fill: #035A7A;
}

.hover-background:hover {
  background-color: #FBFBFB;
}

.odd-row {
  background-color: #FFFFFF;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  overflow-y: scroll;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  margin-bottom: 10px;
}

.custom-pagination {
  display: flex;
  justify-content: center; /* Centraliza a paginação */
  gap: 10px; /* Espaçamento entre botões */
}

.custom-pagination .ngx-pagination {
  list-style-type: none; /* Remove os estilos de lista */
  padding: 0;
}

.custom-pagination .ngx-pagination li {
  margin: 0; /* Remove margens externas */
}

.custom-pagination .ngx-pagination a {
  color: #333; /* Cor do texto */
  background-color: #f9f9f9; /* Cor de fundo */
  border: 1px solid #ddd; /* Borda */
  padding: 5px 15px;
  border-radius: 4px; /* Bordas arredondadas */
  text-decoration: none; /* Remove o sublinhado */
}

.custom-pagination .ngx-pagination .current {
  background-color: #007bff; /* Cor de fundo para a página atual */
  color: white; /* Cor do texto para a página atual */
  border-color: #007bff; /* Cor da borda para a página atual */
}

.custom-pagination .ngx-pagination .disabled a {
  color: #aaa; /* Cor do texto para itens desabilitados */
  background-color: #eee; /* Cor de fundo para itens desabilitados */
  border-color: #ccc; /* Cor da borda para itens desabilitados */
}
