<div *ngIf="loader">
  <app-loader [loader]="loader"></app-loader>
</div>
<div *ngIf="!loader && !responseError" style="background-color: #F6F6F8; height: 980px; margin-top: -50px;">
  <section class="content-header" style="margin: 45px">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1 style="font-family: Poppins , sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #1F1F1F;
        padding-top: 15px;
        ">Explore as oportunidades</h1>
        <p style="font-family: Poppins , sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        padding-top: 6px;
        color: #505050;
        ">Selecione um ativo, visualize os detalhes e realize seu investimento.</p>
      </div>
    </div>
  </section>
  <section class="content" style="background-color: #ffff; padding: 80px; margin: 50px; border-radius: 20px;">
    <div class="row" *ngIf="responseError">
      <div class="col-xs-14">
        <div class="box">
          <div class="box-body">
            <div class="contador">
              {{ errorMessage }}
            </div>
            <div class="contador">
              <strong>{{ suggestionMessage }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-bottom: 100px;">
      <div *ngIf="imobiliarias?.length > 0 && filterAtivoType === AtivosTipo.REALSTATE">
        <div
          *ngFor="let imobiliaria of imobiliarias | filter: filterInvestment | paginate: { itemsPerPage: 3, currentPage: p, id: 'upangel'}">
          <div class="col-md-4">
            <admin-round-incorporator [incorporator]="imobiliaria"></admin-round-incorporator>
          </div>
        </div>
      </div>
      <div
      style="display: flex; flex-direction: row; gap: 10px;"
      *ngIf="empresas?.length > 0 && filterAtivoType === AtivosTipo.STARTUP">
        <div
        
          *ngFor="let empresa of empresas | filter: filterInvestment | paginate: { itemsPerPage: 3, currentPage: p, id: 'upangel'}">
          <div>
            <admin-round-company [company]="empresa"></admin-round-company>
          </div>
        </div>
      </div>
    </div>
    <hr style="width: 100%;">
    <div class="">
      <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
        [responsive]="responsive" (pageChange)="p = $event" id="upangel"></pagination-controls>
    </div>
  </section>
</div>
