.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 1px solid #d2d6de !important;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.filtros {
  display: flex;
  align-items: center;
}
.filtros select {
  flex: 1
}

.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
  border: 0px !important;
  font-size: 18px;
  color: #888;
}


.box-body:before {
  content: " ";
  display: table;
}
.display-filter {
  display: none;
}

.details-value {
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 4px 0px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px solid #ddd;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
  text-align: justify;
  /* padding: 0 15px;   */
  font-weight: 420;
}

.small-box h3,
.small-box p {
  z-index: 5;
  color: #888;
}

h1,
.h1 {
  font-size: 22px !important;
  text-align: left;
  /* color: #2e7e89; */
  color: #6b6a6a;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
}

h3,
.h3 {
  font-size: 11px !important;
  text-align: left;
  margin: 4px 0 10px 0 !important;
  color: #777;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

.contador {
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: #555;
  font-weight: 500;
  padding-top: 2 0px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

h4,
.h4 {
  font-size: 13px !important;
  text-align: left;
  margin: 15px 0px 0px 0px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

.badge {
  display: inline-block;
  min-width: 7px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  min-width: 85px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 5px;
  margin-left: 10px;
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
  opacity: 0.8;
  position: absolute;
}

.min-h {
  min-height: 130px;
}

.btn-closed {
  font-size: 11px !important;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600 !important;
  color: #2e7e89;
  text-transform: uppercase;
  min-width: 200px;
  text-align: center;
  padding: 7px 30px !important;
  border: 2px solid #2e7e89 !important;
  background-image: none;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  display: inline-block !important;
  margin-top: 5px;
}

.btn-closed:hover {
  color: #fff !important;
  background-color: #2e7e89 !important;
  transition-duration: 0.5s;
}

.btn-about {
  font-size: 13px !important;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500 !important;
  color: #2e7e89;
  text-transform: normal;
  text-align: center;
  padding: 0px 30px 2px 0px !important;
  border: 0px;
  background-image: none;
  display: inline-block !important;
  margin-bottom: 8px;
  text-decoration: underline;
}

.progress-bar-aqua,
.progress-bar-info {
  background-color: #52939f;
}

.progress-text {
  font-size: 13px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  margin-bottom: 1px;
  text-align: center;
  color: #52939f;
}

.progress-group .progress-number {
  float: none;
  margin-bottom: 100px;
}

.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
  border-radius: 4px;
  border: 1px solid #dde;
}

.progress.sm,
.progress-sm {
  height: 14px;
}

.progress {
  height: 14px;
  margin-bottom: 15px;
  margin-top: 0px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.filter {
  margin-top: 20px;
}

.btn-filter {
  font-size: 11px;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  /* min-width: 200px; */
  text-align: center;
  padding: 7px 0px !important;
  border: 0px solid #2e7e89 !important;
  background-image: none;
  background-color: transparent;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  display: inline-block !important;
  margin-top: 25px;
  font-family: "Poppins", sans-serif !important;
}

content-new{
  width: 97.25rem !important;
  height: 53.1875rem !important; 
  flex-shrink: 0 !important;
  border-radius: 1rem !important;
  background: #FFF !important;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pagination-controls button,
.pagination-controls span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 120%; /* 1.05rem */
  flex-shrink: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.pagination-controls button[disabled] {
  color: #909090;
  font-weight: 400;
  cursor: default;
}

.pagination-controls button[disabled] svg {
  fill: #909090;
}

.pagination-controls button:not([disabled]) {
  color: #035A7A;
  font-weight: 500;
}

.pagination-controls button:not([disabled]) svg {
  fill: #035A7A;
}

.pagination-controls .page-number {
  color: #707070;
  cursor: pointer;
}

.pagination-controls .page-number:hover {
  background: rgba(3, 90, 122, 0.1);
  border-radius: 0.25rem;
}

.pagination-controls .page-number.active {
  background: #035A7A;
  color: #fff;
  border-radius: 0.25rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 100%; /* 0.875rem */
}

.pagination-controls .ellipsis {
  width: 0.625rem;
  height: 0.125rem;
  flex-shrink: 0;
}

.pagination-controls .ellipsis svg {
  width: 10px;
  height: 2px;
}

.ellipsis circle {
  fill: #707070;
}
