.main-sidebar {
  width: 18.75rem !important;
  height: 67.5rem !important;
  flex-shrink: 0 !important;
  border-right: 1px solid #E5E5E5 !important;
  background: #202022 !important;
}

.sidebar {
  padding-bottom: 50px;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  position: relative !important;
  padding-left: 10%;
  background: none !important; 
  border-left: none !important;
}

.sidebar-menu > li:hover > a::before,
.sidebar-menu > li.active > a::before {
  content: '';
  position: absolute;
  width: 85%;
  left: 6%;
  top: 0;
  height: 100%;
  background: #FFFFFF14 !important;
  border-radius: 8px;
  z-index: 1; 
}

.sidebar a {
  color: #BFBFBF;
  font-size: 14px;
}

.sidebar-menu > li.header {
  text-align: left;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px;
  padding-top: 20px;
}

.user-panel > .info {
  padding: 15px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #fff;
  padding: 6px 13px;
}

.sidebar-menu > li:hover > a span,
.sidebar-menu > li.active > a span {
  color: white !important; 
}

.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #444 !important;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 0px !important;
    z-index: 850;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 70px;
  }
}

.slimScrollBar {
  background: rgb(119, 119, 119) !important;
  width: 10px !important;
  border-radius: 1px !important;
}

.left-side-admin {
  padding: 11px 5px 11px 20px !important;
}

.sidebar-menu > li > a {
  padding: 11px 5px 11px 20px;
  display: block;
  position: relative;
  background: none !important; 
}

.circle-arrow {
  width: 9%;
  border: 1px solid #606060;
  background-color: #202022;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
}

.circle-arrow i {
  color: #fff;
  font-size: 18px;
}

.menu-text {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #BFBFBF;
}

.header-menu {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #BFBFBF;
}


.sidebar-divider {
  width: 85% !important;
  background: #353535 !important;
  color: #353535 !important;
  border: none !important; 
  height: 1px !important;
  margin: 1rem auto !important; 
}

.invest-buttons {
  text-align: center;
  width: 17.1rem; /* 40% de aumento de 12.1875rem */
  height: 3rem; /* 40% de aumento de 1.875rem */
  margin-left: 3.6%;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #171719;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.invest-buttons button {
  width: 8.09rem; /* 40% de aumento de 5.71875rem */
  height: 2.4rem; /* 40% de aumento de 1.5rem */
  flex-shrink: 0;
  border-radius: 0.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem; /* 40% de aumento de 0.75rem */
  font-style: normal;
  line-height: 100%;
  cursor: pointer;
  border: none;
}

.invest-buttons button.active {
  background: #00A8E7;
  color: #171719;
  font-weight: 500;
}

.invest-buttons button:not(.active) {
  background: transparent;
  color: #E1E1E1;
  font-weight: 400;
}
