.header-menu {
  color: #0e6a77;
  text-align: left;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}

.sidebar {
  padding-bottom: 50px;
  margin-top: 15px;
}

.main-sidebar {
  background-color: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #fff;
  background: #3d7b86;
  border-left-color: #3d7b86;
  font-weight: 400;
  font-size: 12px;
}

/* .sidebar-menu>li.active>a::before {
  color: #0e6a77;
  content: "›";
  margin-right: 3px;
  position: absolute;
  left: 11px;
  top: 10px;
  font-weight: 900;
} */

.sidebar a {
  color: #333;
  font-size: 14px;
}

.sidebar-menu > li.header {
  color: #0e6a77;
  text-align: left;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  margin: 10px 10px 0px 10px;
  padding-top: 20px;
}

.user-panel > .info {
  padding: 15px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #fff;
  padding: 6px 13px;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #286268 !important;
}

.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #2e7e89;
  background: #fff;
  border-left-color: #fff;
  font-weight: 560;
  font-size: 14px;
}

.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #444 !important;
}

.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #444 !important;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 0px !important;
    z-index: 850;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 70px;
  }
}

.slimScrollBar {
  background: rgb(119, 119, 119) !important;
  width: 10px !important;
  border-radius: 1px !important;
}

.left-side-admin {
  padding: 11px 5px 11px 20px !important;
}

.sidebar-menu > li > a {
  padding: 11px 5px 11px 20px;
  display: block;
}
