<aside class="main-sidebar">
  <img src="../../../assets/img/logofigmadash.png" style="width: 43%; margin-left: 9%; margin-bottom: 2%; margin-top: -22%;">
  <section class="sidebar">
    <app-form class="required" [label]="'Quero investir como'" [errorMessage]="'Esta campo é obrigatório'">
      <div class="invest-buttons" style="text-align: center;">
        <button class="invest-button" [class.active]="activeButton === 'start'" (click)="setActiveButton('start')" type="button">
         Startup
        </button>
        <button class="invest-button" [class.active]="activeButton === 'imob'" (click)="setActiveButton('imob')" type="button">
         Imobiliário
        </button>
      </div>
    </app-form>    
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <div class="circle-arrow" style="font-family: Poppins, sans-serif; color: #909090; margin-left: 80%;">
        <i class="ion ion-ios-arrow-back"></i>
      </div>
    </a>  
    <p 
    style="font-family: Poppins, sans-serif; color: #909090;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    margin-left: 7%;
    ">Menu</p>
    <ul class="sidebar-menu">
      <li routerLinkActive="active">
        <a routerLink="./user">
          <i class="ion ion-ios-speedometer"></i>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="./rounds/assets/list">
          <i class="ion ion-ios-megaphone"></i>
          <span class="menu-text">Ofertas públicas</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./portfolio">
          <i class="ion ion-ios-stats"></i>
          <span class="menu-text">Análise de carteira</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./statement">
          <i class="ion ion-ios-document"></i>
          <span class="menu-text">Extrato financeiro</span>
        </a>
      </li>
      <li *ngIf="scopes.ROLE_ADMIN" class="treeview">
        <a>
          <i class="ion ion-ios-briefcase"></i>
          <span class="header-menu">Empresas</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
      <li *ngIf="scopes.ROLE_ADMIN" class="treeview">
        <a>
          <i class="ion ion-ios-cube"></i>
          <span class="header-menu">Incorporadoras</span>
          <span class="pull-right-container"></span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <p 
      style="font-family: Poppins, sans-serif; color: #909090;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
      margin-left: 7%;
      margin-top: 10%;
      ">Outros</p>
      <li routerLinkActive="active">
        <a routerLink="./notifications">
          <i class="ion ion-ios-notifications"></i>
          <span class="menu-text">Notificações</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./settings">
          <i class="ion ion-ios-settings"></i>
          <span class="menu-text">Configurações</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./logout">
          <i class="ion ion-ios-log-out"></i>
          <span class="menu-text">Sair da conta</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
