<section class="content">

  <div class="text-with-icon">
    <a href="http://localhost:4200/admin/rounds/assets/list" class="icon-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M1.93298 8H13.933" stroke="#909090" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5.93297 12L1.93298 8L5.93297 4" stroke="#909090" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <p class="offer-text">
      Ofertas públicas 
      <span class="invest-text">/ investir</span>
    </p>
  </div>

  <app-loader [loader]="loader"></app-loader>
  <div *ngIf="!loader">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="box custom-background">
          <div class="box-body">
            <div style="display: flex; justify-content: space-between;">
              <div style="display: flex; align-items: center; gap: 16px;">
                <div>
                  <div class="widget-user-image">
                    <img width="56px" height="56px" class="img-logo" [src]="roundInvestment?.round?.docLogo" alt="Logo" />
                  </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                  <div>
                    <div>
                      <h1>{{ roundInvestment?.name }}</h1>
                    </div>
                  </div>
                
                  <div style="display: flex;">
                    <div>
                      <h2>
                        <a href="{{ roundInvestment?.website }}" target="_blank">{{
                          roundInvestment?.website
                          ?.replace("http://", "")
                          ?.replace("https://", "")
                          ?.replace("/", "")
                          }}</a>
                      </h2>
                    </div>
                    <div>
                      <h3>MODALIDADE: {{ maskModel(roundInvestment?.model) }}</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <p style="display: flex; justify-content: end; gap: 12px;">
                  <span class="{{ roundInvestment?.facebook == null ? 'isDisabled' : '' }}">
                    <a href="{{ roundInvestment?.facebook == null ? '#' : roundInvestment?.facebook }}" target="_blank">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_240_1875)">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.37036 15.3337C0.981717 15.3337 0.666656 15.0169 0.666656 14.6261V1.37457C0.666656 0.983785 0.981717 0.666992 1.37036 0.666992H14.6296C15.0183 0.666992 15.3333 0.983785 15.3333 1.37457V14.6261C15.3333 15.0169 15.0183 15.3337 14.6296 15.3337C14.1605 15.3337 9.74072 15.3337 1.37036 15.3337Z"
                            stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.8872 5.96222H11.4359H11.2644C10.8144 5.96222 10.4496 6.32705 10.4496 6.77705V8.40715H12.8872L12.5302 10.8508H10.4496V15.3333H7.7689V10.8508H5.55566V8.40715H7.7403L7.7689 6.08769L7.76093 5.25638C7.74966 4.08248 8.69213 3.12172 9.86603 3.11045C9.87283 3.11038 9.87963 3.11035 9.88643 3.11035H12.8872V5.96222Z"
                            fill="#035A7A" />
                        </g>
                        <defs>
                          <clipPath id="clip0_240_1875">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </span>             
                  <span class="{{ roundInvestment?.website == null ? 'isDisabled' : '' }}">
                    <a href="{{ roundInvestment?.website == null ? '#' : roundInvestment?.website }}" target="_blank">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_240_1878)">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.00001 14.6663C11.6819 14.6663 14.6667 11.6816 14.6667 7.99967C14.6667 4.31777 11.6819 1.33301 8.00001 1.33301C4.31811 1.33301 1.33334 4.31777 1.33334 7.99967C1.33334 11.6816 4.31811 14.6663 8.00001 14.6663Z"
                            stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                          <path d="M1.33334 8H14.6667" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.00001 14.6663C9.47278 14.6663 10.6667 11.6816 10.6667 7.99967C10.6667 4.31777 9.47278 1.33301 8.00001 1.33301C6.52724 1.33301 5.33334 4.31777 5.33334 7.99967C5.33334 11.6816 6.52724 14.6663 8.00001 14.6663Z"
                            stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                          <path
                            d="M3.28598 3.38086C4.49241 4.58729 6.15908 5.33349 8.00001 5.33349C9.84098 5.33349 11.5076 4.58729 12.7141 3.38086"
                            stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                          <path
                            d="M12.7141 12.6196C11.5076 11.4132 9.84098 10.667 8.00001 10.667C6.15908 10.667 4.49241 11.4132 3.28598 12.6196"
                            stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                          <clipPath id="clip0_240_1878">
                            <rect width="16" height="16" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </span>
                  <span class="{{ roundInvestment?.twitter == null ? 'isDisabled' : '' }}">
                    <a href="{{ roundInvestment?.twitter == null ? '#' : roundInvestment?.twitter }}" target="_blank">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.66666 11.9204C2.30961 12.2759 6.96379 14.9588 10.2733 12.891C13.5828 10.8232 13.4002 7.26077 13.4002 5.62834C13.7 5.00027 14.3333 4.68097 14.3333 2.98094C13.7112 3.55561 13.0929 3.75114 12.4783 3.56754C11.8762 2.64953 11.0478 2.2435 9.99312 2.34945C8.41109 2.50839 7.83229 4.06051 8.00262 6.06857C5.56329 7.30214 3.65049 5.17434 2.66472 3.56754C2.33535 4.83297 2.01776 6.35221 2.66472 8.03284C3.09602 9.15324 4.13282 10.1005 5.77512 10.8745C4.11076 11.7766 2.74126 12.1252 1.66666 11.9204Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                    </svg>
                    </a>
                  </span>
                </p>
              </div>
            </div>

            <div style="display: flex; margin-top: 24px; width: 100%; gap: 16px;">
                <div style="width: 100%; border: 1px solid #E5E5E5; border-radius: 8px; padding: 10px;">
                  <p style="font-size: 12px; font-weight: 500; color: #909090;">Data inicial</p>
                  <div style="display: flex; align-items: center; justify-content: space-between;">
                    <p style="font-size: 16px; font-weight:500; color: #1F1F1F; margin-top: 5px;">{{ startedAt }}</p>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M2.08337 7.91699H17.9167V16.667C17.9167 17.1272 17.5436 17.5003 17.0834 17.5003H2.91671C2.45647 17.5003 2.08337 17.1272 2.08337 16.667V7.91699Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                      <path
                        d="M2.08337 3.75033C2.08337 3.29009 2.45647 2.91699 2.91671 2.91699H17.0834C17.5436 2.91699 17.9167 3.29009 17.9167 3.75033V7.91699H2.08337V3.75033Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                      <path d="M6.66663 1.66699V5.00033" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M13.3334 1.66699V5.00033" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M11.6666 14.167H14.1666" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M5.83337 14.167H8.33337" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M11.6666 10.833H14.1666" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M5.83337 10.833H8.33337" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </div>
                
                <div style="width: 100%; border: 1px solid #E5E5E5; border-radius: 8px; padding: 10px;">
                  <p style="font-size: 12px; font-weight: 500; color: #909090;">Data final</p>
                  <div style="display: flex; align-items: center; justify-content: space-between;">
                    <p style="font-size: 16px; font-weight:500; color: #1F1F1F; margin-top: 5px;">{{ finishAt }}</p>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M2.08337 7.91699H17.9167V16.667C17.9167 17.1272 17.5436 17.5003 17.0834 17.5003H2.91671C2.45647 17.5003 2.08337 17.1272 2.08337 16.667V7.91699Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                      <path
                        d="M2.08337 3.75033C2.08337 3.29009 2.45647 2.91699 2.91671 2.91699H17.0834C17.5436 2.91699 17.9167 3.29009 17.9167 3.75033V7.91699H2.08337V3.75033Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                      <path d="M6.66663 1.66699V5.00033" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M13.3334 1.66699V5.00033" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M11.6666 14.167H14.1666" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M5.83337 14.167H8.33337" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M11.6666 10.833H14.1666" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M5.83337 10.833H8.33337" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
                </div>
                
                <div style="width: 100%; border: 1px solid #E5E5E5; border-radius: 8px; padding: 10px;">
                  <p style="font-size: 12px; font-weight: 500; color: #909090;">Participação Por Cota</p>

                  <div style="display: flex; align-items: center; justify-content: space-between;">
                    <p style="font-size: 16px; font-weight:500; color: #1F1F1F; margin-top: 5px;">
                      <span *ngIf="roundInvestment?.round?.modality != 'SAFE'">
                        {{ formatParticipation(roundInvestment?.round?.partnerParticipation / roundInvestment?.round?.quotas) }}
                      </span>
                      <span *ngIf="roundInvestment?.round?.modality == 'SAFE'" class="description-title-3">
                        Depende do valuation da próxima rodada
                      </span>
                    </p>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_239_1668)">
                        <path d="M8 0.666992V15.3337" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M11.6667 2C11.6667 2 8.32355 2 6.66669 2C5.00982 2 3.66669 3.34313 3.66669 5C3.66669 6.65687 5.00982 8 6.66669 8"
                          stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                          d="M4.33331 14C4.33331 14 7.67645 14 9.33331 14C10.9902 14 12.3333 12.6569 12.3333 11C12.3333 9.34313 10.9902 8 9.33331 8H6.66665"
                          stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                      </g>
                      <defs>
                        <clipPath id="clip0_239_1668">
                          <rect width="16" height="16" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  
                </div>
                
                <div style="width: 100%; border: 1px solid #E5E5E5; border-radius: 8px; padding: 10px;">
                  <p style="font-size: 12px; font-weight: 500; color: #909090;">Status</p>
                  <div style="display: flex; align-items: center; justify-content: space-between;">
                    <p style="font-size: 16px; font-weight:500; color: #1F1F1F; margin-top: 5px;">{{ maskStatus(roundInvestment?.round?.status) }}</p>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_240_1686)">
                        <path
                          d="M7.99992 14.7779C11.375 14.7779 14.1111 12.0418 14.1111 8.66678C14.1111 5.29171 11.375 2.55566 7.99992 2.55566C4.62486 2.55566 1.88882 5.29171 1.88882 8.66678C1.88882 12.0418 4.62486 14.7779 7.99992 14.7779Z"
                          stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                        <path d="M7.9198 5.11816L7.9194 8.78776L10.5102 11.3785" stroke="#035A7A" stroke-width="1.66667"
                          stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1.33334 2.99967L3.66668 1.33301" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path d="M14.6667 2.99967L12.3333 1.33301" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </g>
                      <defs>
                        <clipPath id="clip0_240_1686">
                          <rect width="16" height="16" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="box custom-background">
          <div class="box-body">
            <p style="font-weight: 500; font-size: 14px; color: #1F1F1F;">Total investido</p>
            <p style="font-weight: 600; font-size: 20px; color: #1F1F1F;">{{ porcent }}</p>
            <div class="progress sm">
              <div [ngStyle]="{ width: porcent }" class="progress-bar progress-bar-aqua"></div>
            </div>
          </div>
        </div>

        <div style="display: flex; align-items: center; width: 100%; margin-left: 20px; gap: 16px;">
          <div style="background-color: white; border-radius: 8px; width: 100%;">
            <div>
              <div class="col-xs-12 col-md-3">
                <p style="font-weight: 500; font-size: 16px; color: #1F1F1F; margin-top: 5px;">Detalhes do ativo</p>
                <div class="chart-responsive" style="position: relative; width: 116px; height: 116px;">
                  <app-doughnut [nChart]="'1'" width="116" height="116" type="doughnut"
                    [backgroundColor]="['#035A7A66', '#035A7A']" [borderColor]="['#035A7A66', '#035A7A']"
                    [labels]="['Restante em (%)', 'Investido em (%)']" [data]="dataResume" [options]="optionsResume">
                  </app-doughnut>
                  <p style="
                                        color: #035A7A !important;
                                        font-family: Poppins, sans-serif !important;
                                        font-size: 24px !important;
                                        font-style: normal !important;
                                        font-weight: 500 !important;
                                        line-height: 150% !important;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        margin: 0;
                                        text-align: center;
                                      ">
                    {{ dataResume[1] | number:'1.0-0' }}%
                  </p>
                </div>
              </div>

              <div 
              style="margin-bottom: 60px;"
              class="col-xs-12 col-md-9">
                <div class="row margin-t-30">
                  <div class="col-xs-12 col-md-6">
                    <p class="description-title-3">Objetivo</p>
                    <p class="description-title-4">{{ companyDataComplete?.round?.maximumValuation | moneyMask:true }}</p>
                    <p class="description-title-3 margin-t-20">Investidos</p>
                    <p class="description-title-1">{{ companyDataComplete?.round?.resume?.total | moneyMask:true }}</p>
                  </div>
                  
                  <div class="col-xs-12 col-md-6">
                    <div class="row">
                      <div class="col-sm-12">
                        <ul class="list-group list-group-unbordered">
                          <li style="border-bottom: 1px solid #ddd;" class="list-group-item">
                            <span class="description-text">MODALIDADE</span>
                            <a class="details pull-right">{{
                              roundInvestment?.round?.modality == undefined
                              ? "--"
                              : maskModality(roundInvestment?.round?.modality)
                              }}</a>
                          </li>
                          <li style="border-bottom: 1px solid #ddd;" class="list-group-item">
                            <span class="description-text">GARANTIA</span>
                            <a class="details pull-right">{{
                              roundInvestment?.round?.guarantee == undefined
                              ? "--"
                              : maskGuarantee(roundInvestment?.round?.guarantee)
                              }}</a>
                          </li>
                          <li class="list-group-item">
                            <span class="description-text">PRAZO MÁXIMO</span>
                            <a class="details pull-right">{{
                              roundInvestment?.round?.deadline == undefined
                              ? "--"
                              : roundInvestment?.round?.deadline + " ANO(S)"
                              }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="background-color: white; width: 40%; border-radius: 8px;">
            <div style="padding-top: 20px; padding-left: 16px; padding-right: 16px;">
              <p style="color: #1F1F1F; font-weight: 500; font-size: 14px;">Documentos disponíveis</p>
              <div 
              style="display: flex; align-items: center; width: 100%; justify-content: space-between;
              border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;"
              [ngClass]="{'isDisabled': !roundInvestment?.round?.presentationOffer}">
                <a class="text-doc" target="_blank" download="{{ roundInvestment?.round?.presentationOffer }}"
                  [href]="sanitizer.bypassSecurityTrustResourceUrl(roundInvestment?.round?.docPresentationOffer)">
                  <i class="fa fa-file-pdf-o" style="color: #999; margin-right: 5px; margin-bottom: 5px;"></i>Oferta pública
                </a>

                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.5059 11.4384C14.6015 10.668 15.0712 9.27641 14.6667 7.99968C14.2622 6.72294 13.0235 6.02348 11.6842 6.02451H10.9106C10.4048 4.05344 8.73608 2.59825 6.71451 2.36541C4.69291 2.13257 2.73708 3.17028 1.79645 4.97478C0.855813 6.77928 1.12516 8.97691 2.47373 10.5008"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.0035 13.667L8 7.66699" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.1213 11.5449L7.99993 13.6663L5.8786 11.5449" stroke="#035A7A" stroke-width="1.66667"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div
              style="display: flex; align-items: center; width: 100%; justify-content: space-between;
              border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;"
              [ngClass]="{'isDisabled': !roundInvestment?.round?.presentationInvestors}">
                <a class="text-doc" target="_blank" download="{{ roundInvestment?.round?.presentationInvestors }}"
                  [href]="sanitizer.bypassSecurityTrustResourceUrl(roundInvestment?.round?.docPresentationInvestors)">
                  <i class="fa fa-file-pdf-o" style="color: #999; margin-right: 5px;"></i>Apres. aos investidores
                </a>

                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.5059 11.4384C14.6015 10.668 15.0712 9.27641 14.6667 7.99968C14.2622 6.72294 13.0235 6.02348 11.6842 6.02451H10.9106C10.4048 4.05344 8.73608 2.59825 6.71451 2.36541C4.69291 2.13257 2.73708 3.17028 1.79645 4.97478C0.855813 6.77928 1.12516 8.97691 2.47373 10.5008"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.0035 13.667L8 7.66699" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.1213 11.5449L7.99993 13.6663L5.8786 11.5449" stroke="#035A7A" stroke-width="1.66667"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div
              style="display: flex; align-items: center; width: 100%; justify-content: space-between;
              border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;"
              [ngClass]="{'isDisabled': !roundInvestment?.round?.legalDocuments}">
                <a class="text-doc" target="_blank" download="{{ roundInvestment?.round?.legalDocuments }}"
                  [href]="sanitizer.bypassSecurityTrustResourceUrl(roundInvestment?.round?.docLegalDocuments)">
                  <i class="fa fa-file-pdf-o" style="color: #999; margin-right: 5px;"></i>Doc. jurídicos
                </a>

                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.5059 11.4384C14.6015 10.668 15.0712 9.27641 14.6667 7.99968C14.2622 6.72294 13.0235 6.02348 11.6842 6.02451H10.9106C10.4048 4.05344 8.73608 2.59825 6.71451 2.36541C4.69291 2.13257 2.73708 3.17028 1.79645 4.97478C0.855813 6.77928 1.12516 8.97691 2.47373 10.5008"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.0035 13.667L8 7.66699" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.1213 11.5449L7.99993 13.6663L5.8786 11.5449" stroke="#035A7A" stroke-width="1.66667"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>

              <div 
              style="display: flex; align-items: center; width: 100%; justify-content: space-between;
              border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;"
              [ngClass]="{'isDisabled': !roundInvestment?.round?.valuationDoc}">
                <a class="text-doc" target="_blank" download="{{ roundInvestment?.round?.valuationDoc }}"
                  [href]="sanitizer.bypassSecurityTrustResourceUrl(roundInvestment?.round?.docValuation)">
                  <i class="fa fa-file-pdf-o" style="color: #999; margin-right: 5px;"></i>Valuation
                </a>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.5059 11.4384C14.6015 10.668 15.0712 9.27641 14.6667 7.99968C14.2622 6.72294 13.0235 6.02348 11.6842 6.02451H10.9106C10.4048 4.05344 8.73608 2.59825 6.71451 2.36541C4.69291 2.13257 2.73708 3.17028 1.79645 4.97478C0.855813 6.77928 1.12516 8.97691 2.47373 10.5008"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.0035 13.667L8 7.66699" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.1213 11.5449L7.99993 13.6663L5.8786 11.5449" stroke="#035A7A" stroke-width="1.66667"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>

              <div 
              style="display: flex; align-items: center; width: 100%; justify-content: space-between;
              border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;"
              [ngClass]="{'isDisabled': !roundInvestment?.round?.fiscalDossier}">
                <a class="text-doc" target="_blank" download="{{ roundInvestment?.round?.fiscalDossier }}"
                  [href]="sanitizer.bypassSecurityTrustResourceUrl(roundInvestment?.round?.docFiscalDossier)">
                  <i class="fa fa-file-pdf-o" style="color: #999; margin-right: 5px;"></i>Dossiê Fiscal
                </a>

                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.5059 11.4384C14.6015 10.668 15.0712 9.27641 14.6667 7.99968C14.2622 6.72294 13.0235 6.02348 11.6842 6.02451H10.9106C10.4048 4.05344 8.73608 2.59825 6.71451 2.36541C4.69291 2.13257 2.73708 3.17028 1.79645 4.97478C0.855813 6.77928 1.12516 8.97691 2.47373 10.5008"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.0035 13.667L8 7.66699" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.1213 11.5449L7.99993 13.6663L5.8786 11.5449" stroke="#035A7A" stroke-width="1.66667"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
      class="col-xs-12 col-md-4">
        <div class="box" 
        style="border-radius: 8px;
        background: #FFF;">
          <div class="box-header">
            <h3 
            style="color: #1F1F1F;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: 500;
            line-height: 100%;">Simular seu investimento</h3>
          </div>
          <div class="box-body no-padding">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div 
              style="padding-left: 20px; padding-right: 20px;"
              class="bg-simulator">
                <div 
               style="padding-left: 10px; padding-right: 10px;"
                class="row">
                <p>Qtd de cotas</p>
                  <div
                  style="color: #000;
                  font-family: Poppins;
                  font-size: 12px;
                  font-style: normal;
                  line-height: 100%;">
                    <app-form
                      [errorMessage]="
                        'O campo de quantidade de cotas é obrigatório.'
                      "
                    >
                      <input
                        [(ngModel)]="amountQuota"
                        min="1"
                        [max]="quotas - quotasSold"
                        maxlength="10"
                        type="number"
                        formControlName="quotas"
                        class="form-control number"
                      />
                    </app-form>
                  </div>

                  <div>
                    <p style="color: #505050; font-size: 12px; ">Quantidade máxima de cotas <span
                        style="color: #035A7A; font-size: 12px; font-weight: 600;">{{ quotas - quotasSold }}</span></p>
                  </div>
                </div>
              </div>
              <div 
              style="margin-top: 45px;"
              class="row">
                <div class="col-xs-5 col-xs-offset-1 border-t">
                  <p style="color: #505050; font-size: 12px;">Quantidade cota(s)</p>
                  <p style="color: #035A7A; font-size: 14px; font-weight: 600;">{{ amountQuota }}</p>
                </div>
                <div class="col-xs-5 border-t">
                  <p style="color: #505050; font-size: 12px;">Valor investimento</p>
                  <p data-toggle="tooltip" 
                  data-original-title="Valor total do investimento a ser realizado." 
                  style="color: #035A7A; font-size: 14px; font-weight: 600;">
                    {{ amountQuota * quotaValue | moneyMask : true }}
                  </p>
                </div>
              </div>
              <div *ngIf="roundInvestment?.model == 'TRADITIONAL'" class="row">
                <div class="col-xs-5 col-xs-offset-1 border-t">
                  <p style="color: #505050; font-size: 12px;">Potencial<br />de lucro a.a.</p>
                  <p style="color: #035A7A; font-size: 14px; font-weight: 600;">
                    {{
                        amountQuota *
                          quotaValue *
                          ((roundInvestment?.round?.cdiValue *
                            (roundInvestment?.round?.cdiPercentage / 100)) /
                            100) *
                          (1 - roundInvestment?.round?.upangelCost / 100)
                      | moneyMask : true
                    }}
                  </p>
                </div>
                <div class="col-xs-5 border-t">
                  <p style="color: #505050; font-size: 12px;">Valorização<br />da cota</p>
                  <p style="color: #035A7A; font-size: 14px; font-weight: 600;">
                    {{
                        amountQuota * quotaValue +
                          amountQuota *
                            quotaValue *
                            ((roundInvestment?.round?.cdiValue *
                              (roundInvestment?.round?.valuation / 100)) /
                              100)
                      | moneyMask : true
                    }}
                  </p>
                </div>
              </div>
              <div class="row margin-t-5">
                <div class="col-xs-10 col-xs-offset-1">
                  <button [disabled]="(disabled || loading)" type="submit" class="btn btn-contract">
                    Investir + 
                  </button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12" style="margin:10px; margin-left: 80px; margin-bottom: 30px;">
                  <p class="documents-info" style="
                      color: #000;
                      font-family: Poppins;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 150%;
                    ">
                    Ao solicitar o contrato, declaro ter lido o
                  </p>
                  <a href="https://investplus-public.s3.us-east-2.amazonaws.com/Termodecienciaderisco_fcj_invest.pdf" target="_blank"
                    style="
                                          color: #035A7A;
                                          font-family: Poppins;
                                          font-size: 12px;
                                          font-style: normal;
                                          font-weight: 400;
                                          line-height: 150%;
                                          text-decoration-line: underline;
                  "> termo de ciência de risco</a>
                  <a *ngIf="roundInvestment.id === 9; else defaultLink"
                    href="https://fcjimob-uploads-new.s3.us-east-2.amazonaws.com/MINUTAS%20DE%20CONTRATO/ACORDO%20DE%20INVESTIMENTOS%20COM%20ANEXOS%20E%20VARIÁVEL.pdf"
                    target="_blank" style="
                                          color: #035A7A;
                                          font-family: Poppins;
                                          font-size: 12px;
                                          font-style: normal;
                                          font-weight: 400;
                                          line-height: 150%;
                                          text-decoration-line: underline;
                  "> minuta de contrato</a>
                  <ng-template #defaultLink>
                    <a href="https://fcjimob-hml-uploads-new.s3.us-east-2.amazonaws.com/termo_de_adesao_parte_investidor.pdf"
                      target="_blank" style="
                      color: #035A7A;
                      font-family: Poppins;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 150%;
                      text-decoration-line: underline;
                    ">minuta de contrato</a>
                  </ng-template>
                </div>
                
              </div>
              <div class="row margin-t-20">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="form-group">
                    <div 
                    style="display: flex; flex-direction: row;"
                    class="checkbox-container" 
                    data-toggle="tooltip" 
                    data-original-title="Valor do investimento não será exibido.">
                      <input type="checkbox" formControlName="publicAccess" class="styled-checkbox" />
                      <label for="publicAccess" class="checkbox-label">Publicar meu nome como investidor na rodada</label>
                    </div>
                  </div>
                </div>
              </div>              
            </form>
          </div>
        </div>
      </div>
    </div>

    <div 
    style="background-color: white;"
    class="row">
      <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'presentation'}" (click)="selectedTab = 'presentation'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'presentation' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Apresentação</div>
              <div *ngIf="selectedTab === 'presentation'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'information'}" (click)="selectedTab = 'information'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'information' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Informações</div>
              <div *ngIf="selectedTab === 'information'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'executiveTeam'}" (click)="selectedTab = 'executiveTeam'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'executiveTeam' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Equipe Executiva e Conselho</div>
              <div *ngIf="selectedTab === 'executiveTeam'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'indicators'}" (click)="selectedTab = 'indicators'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'indicators' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Indicadores</div>
              <div *ngIf="selectedTab === 'indicators'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'captable'}" (click)="selectedTab = 'captable'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'captable' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Captable</div>
              <div *ngIf="selectedTab === 'captable'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active': selectedTab === 'investors'}" (click)="selectedTab = 'investors'">
            <a class="nav-link" [ngStyle]="{'color': selectedTab === 'investors' ? '#035A7A' : '#505050'}">
              <div style="display: flex; justify-content: center; align-items: center; gap: 0.625rem;">Investidores</div>
              <div *ngIf="selectedTab === 'investors'" style="width: 6.25rem; height: 0.125rem; background: #035A7A;"></div>
            </a>
          </li>
        </ul>
        <div style="width: 97.1875rem; height: 0.0625rem; flex-shrink: 0; background: #E5E5E5;"></div>
        <div [ngSwitch]="selectedTab">
          <div *ngSwitchCase="'presentation'">
            <div class="row">
              <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" [src]="offerVideo" frameborder="0" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'information'">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>O NEGÓCIO
                </p>
                <p class="description">{{ roundInvestment?.round?.business }}</p>
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>REALIZAÇÕES
                </p>
                <p class="description">{{ roundInvestment?.round?.achievements }}</p>
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>MERCADO POTENCIAL
                </p>
                <p class="description">{{ roundInvestment?.round?.potentialMarket }}</p>
              </div>
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>METAS DE 12 MESES
                </p>
                <p class="description">{{ roundInvestment?.round?.targets }}</p>
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>ROADMAP DE PRODUTOS/MERCADO
                </p>
                <p class="description">{{ roundInvestment?.round?.roadmap }}</p>
                <br />
                <p class="container-description">
                  <span style="color: #2e7e89; font-size: 6px; margin-right: 10px; vertical-align: 3px;"><i class="fa fa-fw fa-stop"></i></span>FATORES DE RISCO
                </p>
                <p class="description">{{ roundInvestment?.round?.riskiness }}</p>
                <p class="description">
                  Deseja sanar alguma dúvida?
                  <a routerLink="./forum">Clique aqui</a> e participe do fórum desta rodada.
                </p>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'executiveTeam'">
            <div class="row">
              <div class="col-md-12">
                <div class="box-comment" style="display: flex; flex-wrap: wrap;">
                  <ng-container *ngFor="let member of roundInvestment?.executives">
                    <app-card-member
                      [name]="member.fullName"
                      [photo]="member.photo"
                      [department]="member.role"
                      [activities]="member.activities"
                      [linkedin]="member.linkedin"
                      class="col-md-4"
                    >
                    </app-card-member>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'indicators'">
            <div class="row">
              <div class="col-md-12">
                <div class="box-comment">
                  <ng-container *ngFor="let indicator of indicators">
                    <div class="col-md-3" style="padding: 1.5rem; border-radius: 0.25rem; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); margin-right: 1rem; margin-top: 1em; margin-bottom: 1em;">
                      <div style="display: flex; justify-content: space-between;">
                        <p style="text-transform: uppercase; color: #444; font-size: 10px; font-weight: 700; font-family: 'Poppins', sans-serif !important; line-height: 21px;">
                          {{ indicator.label }}
                        </p>
                        <div>
                          <i class="fa fa-question-circle-o" data-toggle="tooltip" [attr.data-original-title]="indicator.tooltip" style="margin-right: .5em"></i>
                          <i class="fa fa-bar-chart"></i>
                        </div>
                      </div>
                      <p style="text-transform: uppercase; color: #444; font-family: 'Poppins', sans-serif !important; line-height: 21px; font-size: 16px;">
                        {{ indicator.value }}
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'captable'">
            <div class="row">
              <div class="col-md-12">
                <div class="box-comment" style="display: flex; flex-wrap: wrap;">
                  <div class="col-xs-12 col-md-4" style="margin-bottom: 2rem; margin-top: 2rem;">
                    <div class="chart-responsive">
                      <app-doughnut
                        [nChart]="2"
                        height="270"
                        width="270"
                        type="pie"
                        [labels]="captable.labels"
                        [backgroundColor]="captable.colors"
                        [data]="captable.data"
                      >
                      </app-doughnut>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'investors'">
            <div class="row">
              <div class="col-md-12">
                <div class="box-comment">
                  <div *ngIf="investments && investments.length > 0; else noInvestors">
                    <div class="col-md-1 col-xs-6 margin-t-20" *ngFor="let investment of investments">
                      <div class="row text-center">
                        <div class="col-md-12">
                          <img
                            class="img-circle"
                            src="{{
                              investment.avatar == null
                                ? './../../../assets/img/default-profile_01.png'
                                : 'data:image/png;base64,' + investment.avatar
                            }}"
                            alt="User Image"
                          />
                        </div>
                      </div>
                      <div class="row margin-t-10 text-center">
                        <div class="col-md-12">
                          <div class="investors">
                            <p>
                              {{
                                investment.fullName == null
                                  ? "Privado"
                                  : investment.fullName.substring(0, 7)
                              }}
                            </p>
                          </div>
                          <p>
                            <span class="{{ investment.facebook == null ? 'isDisabled' : '' }}">
                              <a href="{{ investment.facebook == null ? '#' : investment.facebook }}" target="_blank">
                                <i class="fa fa-fw fa-facebook-square"></i></a>
                            </span>
                            <span class="{{ investment.linkedin == null ? 'isDisabled' : '' }}">
                              <a href="{{ investment.linkedin == null ? '#' : investment.linkedin }}" target="_blank">
                                <i class="fa fa-fw fa-linkedin-square"></i></a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #noInvestors>
                    <p>Essa rodada ainda não conta com investidores.</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault>
            <div class="box box-default collapsed-box">
              <div class="box-header">
                <h3 class="box-title">SELECIONE UMA ABA</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</section>
