  <div class="box box-widget widget-user" style=" height: 300px; border-radius: 8px; border: 1px solid #E5E5E5; background: #FFF; justify-content: space-between; gap: 540px;" *ngIf="company">
    <div class="box-header">
      <div class="row" style="gap: 40; display: flex;">
        <div class="col-xs-3 col-md-3">
          <img style="width: 50px; height: 56px; flex-shrink: 0; border-radius: 56px; border: 1px solid #E5E5E5; background: url(<path-to-image>) lightgray 4.379px 11.728px / 82.062% 58.929% no-repeat;" [src]="company.round?.docLogo" alt="Logo">
        </div>
        <div class="col-xs-6 col-md-6">
          <h4 class="companyname">{{company.name}}</h4>
          <h4 class="roundstatus">{{maskStatus(company.round?.status)}}</h4>
          <h4 class="display-filter">{{ company.round?.status }}</h4>
        </div>
        <div class="col-xs-3 col-md-3 text-right">
          <p class="description-title-3" style="font-family: Poppins, sans-serif; font-size: 12px; font-weight: 400; line-height: 12px; text-align: left; color: #505050;">Valor min.</p>
          <p class="description-title-4" style="font-family: Poppins, sans-serif; font-size: 14px; font-weight: 500; line-height: 14px; text-align: left; color: #035A7A; width: 130%;">{{company.round?.quotaValue | moneyMask: true}}</p>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group list-group-unbordered">
            <li style="border-bottom: 1px solid #E5E5E5;" class="list-group-item">
              <span class="description-text">Modalidade</span>
              <a class="newdetails pull-right">{{company.round?.modality == undefined ? '--' : maskModality(company.round?.modality)}}</a>
            </li>
            <li *ngIf="company.round?.status == 'IN_PROGRESS'" style="border-bottom: 1px solid #eee;" class="list-group-item">
              <span class="description-text">Prazo máximo</span>
              <a class="newdetails pull-right">{{company.round?.deadline + ' ANO(S)'}}</a>
            </li>
            <li style="border-bottom: 1px solid #E5E5E5;" class="list-group-item">
              <span class="description-text">Participação por cota</span>
              <a class="newdetails pull-right">
                <span *ngIf="company.round?.modality != 'SAFE'">
                  {{ formatParticipation(company.round?.partnerParticipation / company?.round?.quotas) }}
                </span>
                <span *ngIf="company.round?.modality == 'SAFE'" class="description-title-3">Depende do valuation da próxima rodada</span>
              </a>
            </li>
            <li style="border-bottom: 1px solid #E5E5E5;" class="list-group-item">
              <span class="description-text">Valuation</span>
              <a class="newdetails pull-right">
                <span *ngIf="company.round?.modality != 'SAFE'">R$ {{company?.valuation?.current | moneyMask}}</span>
                <span *ngIf="company.round?.modality == 'SAFE'" class="description-title-3">20% Desconto, Máx. 7,8 Milhões</span>
              </a>
            </li>
            <li style="border-bottom: 1px solid #E5E5E5;" class="list-group-item">
              <span class="description-text">Participação total</span>
              <a class="newdetails pull-right">
                <span *ngIf="company.round?.modality != 'SAFE'">{{company?.round?.partnerParticipation * 100}}%</span>
                <span *ngIf="company.round?.modality == 'SAFE'" class="description-title-3">Depende do valuation da próxima rodada</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="company.round?.status == 'FINISHED'" class="row">
        <div class="col-sm-12 text-center">
          <a [routerLink]="['../../company', company?.id, 'round', company.round?.id]" class="btn-about">Oferta Pública Inicial</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="progress-text">{{company.round?.resume?.total * 100 / company.round?.maximumValuation | number : '1.2-2' }}% de
            {{company.round?.maximumValuation | moneyMask}}</p>
            <div class="progress sm">
              <div [ngStyle]="{'width': maskProgress(company.round?.resume?.total, company.round?.maximumValuation)}" class="progress-bar progress-bar-aqua">
              </div>
            </div>            
        </div>
      </div>
      <div class="row">
        <div>
          <a *ngIf="company.round?.status == 'IN_PROGRESS'"
          [routerLink]="['../../company', company?.id, 'round', company.round?.id]"
          (click)="handleClick()" class="btn-upangel"><span style="font-size: 14px; font-weight: 600; text-align: center; padding: 5px; color: white;">Investir +</span></a>
          <a *ngIf="company.round?.status == 'FINISHED'"
            [routerLink]="['../../indicators/company', company?.id, 'round', company.round?.id]" class="btn-upangel" style="background-color: white;">
            <span style="font-size: 14px; font-weight: 600; text-align: center; padding: 5px; color: #035A7A; margin-top: 20px;">Gestão de
            indicadores</span></a>
        </div>
      </div>
    </div>
  </div>
 