<app-loader *ngIf="loader" [loader]="loader"></app-loader>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="content" *ngIf="!loader">
    <div style="width: 100%; height: 120px; background: white; border-radius: 8px; margin-top: 30px; display: flex; align-items: center; padding: 0 16px;">
      <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img width="88px" height="88px" style="border-radius: 50%;" src="{{ base64textString }}"
            title="Selecione uma imagem com altura e largura iguais." id="img" />
        
          <div style="margin-left: 32px;">
            <div>
              <h3 style="margin-left: 10px; font-size: 18px;">
                <ng-container *ngIf="investor?.fullName">
                  <b>{{ investor.fullName.split(' ')[0] }}</b>
                  {{ investor.fullName.split(' ').slice(1).join(' ') }}
                </ng-container>
              </h3>
              <p style="color: #505050;">@{{ investor?.nickname }}</p>
            </div>
        
            <div style="display: flex; align-items: center;">
              <p style="display: flex; align-items: center; gap: 8px;" *ngIf="investor?.publicProfile">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_358_2699)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.00004 14.6673C11.6819 14.6673 14.6667 11.6826 14.6667 8.00065C14.6667 4.31875 11.6819 1.33398 8.00004 1.33398C4.31814 1.33398 1.33337 4.31875 1.33337 8.00065C1.33337 11.6826 4.31814 14.6673 8.00004 14.6673Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1.33337 8H14.6667" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.00004 14.6673C9.47281 14.6673 10.6667 11.6826 10.6667 8.00065C10.6667 4.31875 9.47281 1.33398 8.00004 1.33398C6.52727 1.33398 5.33337 4.31875 5.33337 8.00065C5.33337 11.6826 6.52727 14.6673 8.00004 14.6673Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M3.28601 3.38086C4.49244 4.58729 6.15911 5.33349 8.00004 5.33349C9.84101 5.33349 11.5077 4.58729 12.7141 3.38086"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M12.7141 12.6186C11.5077 11.4122 9.84101 10.666 8.00004 10.666C6.15911 10.666 4.49244 11.4122 3.28601 12.6186"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_358_2699">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                Perfil público
              </p>
              <p style="display: flex; align-items: center; gap: 8px;" *ngIf="!investor?.publicProfile">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_358_2699)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.00004 14.6673C11.6819 14.6673 14.6667 11.6826 14.6667 8.00065C14.6667 4.31875 11.6819 1.33398 8.00004 1.33398C4.31814 1.33398 1.33337 4.31875 1.33337 8.00065C1.33337 11.6826 4.31814 14.6673 8.00004 14.6673Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1.33337 8H14.6667" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.00004 14.6673C9.47281 14.6673 10.6667 11.6826 10.6667 8.00065C10.6667 4.31875 9.47281 1.33398 8.00004 1.33398C6.52727 1.33398 5.33337 4.31875 5.33337 8.00065C5.33337 11.6826 6.52727 14.6673 8.00004 14.6673Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M3.28601 3.38086C4.49244 4.58729 6.15911 5.33349 8.00004 5.33349C9.84101 5.33349 11.5077 4.58729 12.7141 3.38086"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M12.7141 12.6186C11.5077 11.4122 9.84101 10.666 8.00004 10.666C6.15911 10.666 4.49244 11.4122 3.28601 12.6186"
                      stroke="#035A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_358_2699">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                Perfil privado
              </p>
              <p>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_358_2731)">
                    <path
                      d="M8.00004 6.66732C9.47281 6.66732 10.6667 5.47342 10.6667 4.00065C10.6667 2.52789 9.47281 1.33398 8.00004 1.33398C6.52727 1.33398 5.33337 2.52789 5.33337 4.00065C5.33337 5.47342 6.52727 6.66732 8.00004 6.66732Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linejoin="round" />
                    <path d="M8 6.66602V12.666" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M5.33337 10.666H4.00004L1.33337 14.666H14.6667L12 10.666H10.6667" stroke="#035A7A"
                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_358_2731">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                {{
                descriptionCity == null
                ? "Sem informação"
                : descriptionCity
                }}
              </p>
              <p>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.66663 6.33398H14.3333V13.334C14.3333 13.7022 14.0348 14.0007 13.6666 14.0007H2.33329C1.9651 14.0007 1.66663 13.7022 1.66663 13.334V6.33398Z"
                    stroke="#035A7A" stroke-width="1.5" stroke-linejoin="round" />
                  <path
                    d="M1.66663 3.00065C1.66663 2.63246 1.9651 2.33398 2.33329 2.33398H13.6666C14.0348 2.33398 14.3333 2.63246 14.3333 3.00065V6.33398H1.66663V3.00065Z"
                    stroke="#035A7A" stroke-width="1.5" stroke-linejoin="round" />
                  <path d="M5.33337 1.33398V4.00065" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M10.6666 1.33398V4.00065" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M9.33337 11.334H11.3334" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M4.66663 11.334H6.66663" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M9.33337 8.66602H11.3334" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M4.66663 8.66602H6.66663" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                {{
                descriptionDate == null
                ? "Sem informação"
                : "Nasceu em " + descriptionDate
                }}
              </p>
              <p>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_358_2744)">
                    <path
                      d="M14.3643 3.99249L12.0072 1.63547C11.7469 1.37512 11.3248 1.37512 11.0644 1.63547L7.76459 4.9353C7.50424 5.19565 7.50424 5.61776 7.76459 5.87811L10.1216 8.23513C10.382 8.49548 10.8041 8.49548 11.0644 8.23513L14.3643 4.9353C14.6246 4.67495 14.6246 4.25284 14.3643 3.99249Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linejoin="round" />
                    <path
                      d="M8.23602 10.1214L5.879 7.76437C5.61865 7.50402 5.19654 7.50402 4.93619 7.76437L1.63636 11.0642C1.37601 11.3246 1.37601 11.7467 1.63636 12.007L3.99338 14.364C4.25373 14.6244 4.67584 14.6244 4.93619 14.364L8.23602 11.0642C8.49637 10.8039 8.49637 10.3817 8.23602 10.1214Z"
                      stroke="#035A7A" stroke-width="1.5" stroke-linejoin="round" />
                    <path d="M10.3574 5.64258L5.64337 10.3566" stroke="#035A7A" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_358_2744">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                {{
                descriptionSite == null
                ? "Sem informação"
                : descriptionSite
                }}
              </p>
            </div>
          </div>
        </div>

        <div>
          <div>
            <p 
            style="gap: 16px; display: flex;">
              <span class="social {{ facebook == null ? 'isDisabled' : '' }}"><a href="{{ facebook == null ? '#' : facebook }}"
                  target="_blank">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_358_1873)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1.37036 15.3327C0.981717 15.3327 0.666656 15.0159 0.666656 14.6251V1.3736C0.666656 0.982809 0.981717 0.666016 1.37036 0.666016H14.6296C15.0183 0.666016 15.3333 0.982809 15.3333 1.3736V14.6251C15.3333 15.0159 15.0183 15.3327 14.6296 15.3327C14.1605 15.3327 9.74072 15.3327 1.37036 15.3327Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.8872 5.96319H11.4359H11.2644C10.8144 5.96319 10.4496 6.32803 10.4496 6.77803V8.40813H12.8872L12.5302 10.8517H10.4496V15.3342H7.7689V10.8517H5.55566V8.40813H7.7403L7.7689 6.08866L7.76093 5.25736C7.74966 4.08346 8.69213 3.1227 9.86603 3.11142C9.87283 3.11136 9.87963 3.11133 9.88643 3.11133H12.8872V5.96319Z"
                        fill="#035A7A" />
                    </g>
                    <defs>
                      <clipPath id="clip0_358_1873">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a>
                </span>
              <span class="social {{ linkedin == null ? 'isDisabled' : '' }}"><a href="{{ linkedin == null ? '#' : linkedin }}"
                  target="_blank">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_358_1876)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.00001 14.6673C11.6819 14.6673 14.6667 11.6826 14.6667 8.00065C14.6667 4.31875 11.6819 1.33398 8.00001 1.33398C4.31811 1.33398 1.33334 4.31875 1.33334 8.00065C1.33334 11.6826 4.31811 14.6673 8.00001 14.6673Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1.33334 8H14.6667" stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.00001 14.6673C9.47278 14.6673 10.6667 11.6826 10.6667 8.00065C10.6667 4.31875 9.47278 1.33398 8.00001 1.33398C6.52724 1.33398 5.33334 4.31875 5.33334 8.00065C5.33334 11.6826 6.52724 14.6673 8.00001 14.6673Z"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M3.28597 3.38086C4.4924 4.58729 6.15907 5.33349 8 5.33349C9.84097 5.33349 11.5076 4.58729 12.7141 3.38086"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M12.7141 12.6186C11.5076 11.4122 9.84098 10.666 8.00001 10.666C6.15908 10.666 4.49241 11.4122 3.28598 12.6186"
                        stroke="#035A7A" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                      <clipPath id="clip0_358_1876">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a></span>
              <span class="social {{ twitter == null ? 'isDisabled' : '' }}"><a href="{{ twitter == null ? '#' : twitter }}"
                  target="_blank">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.66666 11.9214C2.30961 12.2768 6.96379 14.9597 10.2733 12.892C13.5828 10.8242 13.4002 7.26175 13.4002 5.62932C13.7 5.00125 14.3333 4.68195 14.3333 2.98192C13.7112 3.55658 13.0929 3.75212 12.4783 3.56852C11.8762 2.65051 11.0478 2.24447 9.99312 2.35043C8.41109 2.50936 7.83229 4.06148 8.00262 6.06955C5.56329 7.30312 3.65049 5.17532 2.66472 3.56852C2.33535 4.83395 2.01776 6.35318 2.66472 8.03382C3.09602 9.15422 4.13282 10.1014 5.77512 10.8755C4.11076 11.7776 2.74126 12.1262 1.66666 11.9214Z"
                    stroke="#035A7A" stroke-width="1.66667" stroke-linejoin="round" />
                </svg>
              </a></span>
            </p>
          </div>

          <div 
          (click)="onDevelopmentToast()"
          class="editable-profile">
            <p style="color: #035A7A; font-size: 14px; margin-bottom: 0;">Editar perfil</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4 col-md-push-8">
        <div class="box box-widget widget-user">
          <div class="widget-user-header"></div>
          <div class="widget-user-image">
            <img
              class="profile-user-img img-responsive img-circle"
              src="{{ base64textString }}"
              title="Selecione uma imagem com altura e largura iguais."
              id="img"
            />
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-md-12">
                <p class="pull-right">
                  <span
                    class="social {{ facebook == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ facebook == null ? '#' : facebook }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-facebook-square"></i></a
                  ></span>
                  <span
                    class="social {{ linkedin == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ linkedin == null ? '#' : linkedin }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-linkedin-square"></i></a
                  ></span>
                  <span class="social {{ twitter == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ twitter == null ? '#' : twitter }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-twitter-square"></i></a
                  ></span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="upload-btn-wrapper">
                  <button class="btn-photo" style="cursor: pointer;">Editar foto</button>
                  <input
                    title="Selecione uma imagem com altura e largura iguais."
                    type="file"
                    (change)="onUploadChange($event)"
                    accept=".png, .jpg, .jpeg"
                  />
                  <p *ngIf="msg !== ''" class="error">{{ msg }}</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="description-profile">
                  <h3 class="profile-username">{{ investor?.fullName }}</h3>
                  <p class="text-muted">@{{ investor?.nickname }}</p>
                  <p
                    *ngIf="investor?.publicProfile"
                    class="text-muted-2 margin-t-30"
                  >
                    <i class="fa fa-globe"></i> Perfil público
                  </p>
                  <p
                    *ngIf="!investor?.publicProfile"
                    class="text-muted-2 margin-t-30"
                  >
                    <i class="fa fa-lock"></i> Perfil privado
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-map-pin"></i>
                    {{
                      descriptionCity == null
                        ? "Sem informação"
                        : descriptionCity
                    }}
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-calendar-check-o"></i>
                    {{
                      descriptionDate == null
                        ? "Sem informação"
                        : "Nasceu em " + descriptionDate
                    }}
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-link"></i>
                    {{
                      descriptionSite == null
                        ? "Sem informação"
                        : descriptionSite
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
</form>
