<app-loader *ngIf="loader" [loader]="loader"></app-loader>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="content" *ngIf="!loader">
    <div class="row">
      <div class="col-md-4 col-md-push-8">
        <div class="box box-widget widget-user">
          <div class="widget-user-header"></div>
          <div class="widget-user-image">
            <img
              class="profile-user-img img-responsive img-circle"
              src="{{ base64textString }}"
              title="Selecione uma imagem com altura e largura iguais."
              id="img"
            />
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-md-12">
                <p class="pull-right">
                  <span
                    class="social {{ facebook == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ facebook == null ? '#' : facebook }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-facebook-square"></i></a
                  ></span>
                  <span
                    class="social {{ linkedin == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ linkedin == null ? '#' : linkedin }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-linkedin-square"></i></a
                  ></span>
                  <span class="social {{ twitter == null ? 'isDisabled' : '' }}"
                    ><a
                      href="{{ twitter == null ? '#' : twitter }}"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-twitter-square"></i></a
                  ></span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="upload-btn-wrapper">
                  <button class="btn-photo">Editar foto</button>
                  <input
                    title="Selecione uma imagem com altura e largura iguais."
                    type="file"
                    (change)="onUploadChange($event)"
                    accept=".png, .jpg, .jpeg"
                  />
                  <p *ngIf="msg !== ''" class="error">{{ msg }}</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="description-profile">
                  <h3 class="profile-username">{{ investor?.fullName }}</h3>
                  <p class="text-muted">@{{ investor?.nickname }}</p>
                  <p
                    *ngIf="investor?.publicProfile"
                    class="text-muted-2 margin-t-30"
                  >
                    <i class="fa fa-globe"></i> Perfil público
                  </p>
                  <p
                    *ngIf="!investor?.publicProfile"
                    class="text-muted-2 margin-t-30"
                  >
                    <i class="fa fa-lock"></i> Perfil privado
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-map-pin"></i>
                    {{
                      descriptionCity == null
                        ? "Sem informação"
                        : descriptionCity
                    }}
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-calendar-check-o"></i>
                    {{
                      descriptionDate == null
                        ? "Sem informação"
                        : "Nasceu em " + descriptionDate
                    }}
                  </p>
                  <p class="text-muted-2">
                    <i class="fa fa-link"></i>
                    {{
                      descriptionSite == null
                        ? "Sem informação"
                        : descriptionSite
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-pull-4">
        <div class="box box-primary">
          <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1" data-toggle="tab" aria-expanded="true"
                    >Geral</a
                  >
                </li>
                <li class="">
                  <a href="#tab_2" data-toggle="tab" aria-expanded="true"
                    >Endereço</a
                  >
                </li>
                <li class="">
                  <a href="#tab_3" data-toggle="tab" aria-expanded="true"
                    >Perfil</a
                  >
                </li>
                <li class="">
                  <a href="#tab_4" data-toggle="tab" aria-expanded="true"
                    >Social</a
                  >
                </li>
                <li class="">
                  <a href="#tab_5" data-toggle="tab" aria-expanded="true"
                    >Dados bancários</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <div
                    *ngIf="investor?.cnpj !== undefined"
                    class="row margin-t-20"
                  >
                    <div class="col-md-8">
                      <app-form
                        [label]="'Nome do sócio administrador'"
                        [errorMessage]="'Nome do sócio é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="nameResponsible"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-md-4">
                      <app-form
                        [label]="'CPF do sócio administrador'"
                        [errorMessage]="'CPF do sócio é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="cpfResponsible"
                          class="form-control cpf"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row margin-t-20">
                    <div class="col-md-8">
                      <app-form
                        [label]="
                          investor?.cnpj !== undefined
                            ? 'Profissão do sócio administrador'
                            : 'Profissão'
                        "
                        [errorMessage]="'Profissão é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="profession"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <app-form
                        [label]="'Telefone'"
                        [errorMessage]="'Telefone é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="phone"
                          class="form-control phone"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-4">
                      <app-form
                        [label]="'Data de nascimento'"
                        [errorMessage]="
                          'Data de nascimento é um campo obrigatório.'
                        "
                      >
                        <input
                          type="text"
                          (blur)="validateDate()"
                          formControlName="dateOfBirth"
                          class="form-control dateOfBirth"
                        />
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <app-form
                        [label]="'Nacionalidade'"
                        [errorMessage]="'Nacionalidade é um campo obrigatório.'"
                      >
                        <select
                          formControlName="nationality"
                          class="form-control"
                        >
                          <option [ngValue]="null"
                            >Selecione uma opção...</option
                          >
                          <option value="BRASILEIRO">Brasileiro</option>
                          <option value="AMERICANO">Americano</option>
                          <option value="ANTIGUANO">Antiguano</option>
                          <option value="ARGENTINO">Argentino</option>
                          <option value="BAHAMENSE">Bahamense</option>
                          <option value="BARBADIANO">Barbadiano</option>
                          <option value="BELIZENHO">Belizenho</option>
                          <option value="BOLIVIANO">Boliviano</option>
                          <option value="CHILENO">Chileno</option>
                          <option value="COLOMBIANO">Colombiano</option>
                          <option value="COSTARRIQUENHO">Costarriquenho</option>
                          <option value="CUBANO">Cubano</option>
                          <option value="DOMINICANO">Dominicano</option>
                          <option value="EQUATORIANO">Equatoriano</option>
                          <option value="SALVADORENHO">Salvadorenho</option>
                          <option value="GRANADINO">Granadino</option>
                          <option value="GUATEMALTECO">Guatemalteco</option>
                          <option value="GUIANÊS">Guianês</option>
                          <option value="GUIANENSE">Guianense</option>
                          <option value="HAITIANO">Haitiano</option>
                          <option value="HONDURENHO">Hondurenho</option>
                          <option value="JAMAICANO">Jamaicano</option>
                          <option value="MEXICANO">Mexicano</option>
                          <option value="NICARAGUENSE">Nicaraguense</option>
                          <option value="PANAMENHO">Panamenho</option>
                          <option value="PARAGUAIO">Paraguaio</option>
                          <option value="PERUANO">Peruano</option>
                          <option value="PORTORRIQUENHO">Portorriquenho</option>
                          <option value="DOMINICANA">Dominicana</option>
                          <option value="SÃO-CRISTOVENSE"
                            >São-cristovense</option
                          >
                          <option value="SÃO-VICENTINO">São-vicentino</option>
                          <option value="SANTA-LUCENSE">Santa-lucense</option>
                          <option value="SURINAMÊS">Surinamês</option>
                          <option value="TRINDADENSE">Trindadense</option>
                          <option value="URUGUAIO">Uruguaio</option>
                          <option value="VENEZUELANO">Venezuelano</option>
                          <option value="ALEMÃO">Alemão</option>
                          <option value="AUSTRÍACO">Austríaco</option>
                          <option value="BELGA">Belga</option>
                          <option value="CROATA">Croata</option>
                          <option value="DINAMARQUÊS">Dinamarquês</option>
                          <option value="ESLOVACO">Eslovaco</option>
                          <option value="ESLOVENO">Esloveno</option>
                          <option value="ESPANHOL">Espanhol</option>
                          <option value="FRANCÊS">Francês</option>
                          <option value="GREGO">Grego</option>
                          <option value="HÚNGARO">Húngaro</option>
                          <option value="IRLANDÊS">Irlandês</option>
                          <option value="ITALIANO">Italiano</option>
                          <option value="NORUEGO">Noruego</option>
                          <option value="HOLANDÊS">Holandês</option>
                          <option value="POLONÊS">Polonês</option>
                          <option value="PORTUGUÊS">Português</option>
                          <option value="BRITÂNICO">Britânico</option>
                          <option value="INGLÊS">Inglês</option>
                          <option value="GALÊS">Galês</option>
                          <option value="ESCOCÊS">Escocês</option>
                          <option value="ROMENO">Romeno</option>
                          <option value="RUSSO">Russo</option>
                          <option value="SÉRVIO">Sérvio</option>
                          <option value="SUECO">Sueco</option>
                          <option value="SUÍÇO">Suíço</option>
                          <option value="TURCO">Turco</option>
                          <option value="UCRANIANO">Ucraniano</option>
                          <option value="CANADENSE">Canadense</option>
                          <option value="ANGOLANO">Angolano</option>
                          <option value="MOÇAMBICANO">Moçambicano</option>
                          <option value="SUL-AFRICANO">Sul-africano</option>
                          <option value="ZIMBABUENSE">Zimbabuense</option>
                          <option value="ARGÉLIA">Argélia</option>
                          <option value="COMORENSE">Comorense</option>
                          <option value="EGÍPCIO">Egípcio</option>
                          <option value="LÍBIO">Líbio</option>
                          <option value="MARROQUINO">Marroquino</option>
                          <option value="GANÉS">Ganés</option>
                          <option value="QUENIANO">Queniano</option>
                          <option value="RUANDÊS">Ruandês</option>
                          <option value="UGANDENSE">Ugandense</option>
                          <option value="BECHUANO">Bechuano</option>
                          <option value="MARFINENSE">Marfinense</option>
                          <option value="CAMARONENSE">Camaronense</option>
                          <option value="NIGERIANO">Nigeriano</option>
                          <option value="SOMALI">Somali</option>
                          <option value="AUSTRALIANO">Australiano</option>
                          <option value="NEOZELANDÊS">Neozelandês</option>
                          <option value="AFEGÃO">Afegão</option>
                          <option value="SAUDITA">Saudita</option>
                          <option value="ARMENO">Armeno</option>
                          <option value="BANGLADESH">Bangladesh</option>
                          <option value="CHINÊS">Chinês</option>
                          <option value="NORTE-COREANO">Norte-coreano</option>
                          <option value="SUL-COREANO">Sul-coreano</option>
                          <option value="INDIANO">Indiano</option>
                          <option value="INDONÉSIO">Indonésio</option>
                          <option value="IRAQUIANO">Iraquiano</option>
                          <option value="IRANIANO">Iraniano</option>
                          <option value="ISRAELITA">Israelita</option>
                          <option value="JAPONÊS">Japonês</option>
                          <option value="MALAIO">Malaio</option>
                          <option value="NEPALÊS">Nepalês</option>
                          <option value="OMANENSE">Omanense</option>
                          <option value="PAQUISTANÊS">Paquistanês</option>
                          <option value="PALESTINO">Palestino</option>
                          <option value="QATARENSE">Qatarense</option>
                          <option value="SÍRIO">Sírio</option>
                          <option value="CINGALÊS">Cingalês</option>
                          <option value="TAILANDÊS">Tailandês</option>
                          <option value="TIMORENSE">Timorense</option>
                          <option value="ÁRABE">Árabe</option>
                          <option value="VIETNAMITA">Vietnamita</option>
                          <option value="IEMENITA">Iemenita</option>
                        </select>
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-4">
                      <app-form
                        [label]="'Sexo'"
                        [errorMessage]="'Sexo é um campo obrigatório.'"
                      >
                        <select formControlName="gender" class="form-control">
                          <option [ngValue]="null"
                            >Selecione uma opção...</option
                          >
                          <option value="MALE">Masculino</option>
                          <option value="FEMALE">Feminino</option>
                        </select>
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <app-form
                        [label]="'Estado civil'"
                        [errorMessage]="'Estado civil é um campo obrigatório.'"
                      >
                        <select
                          formControlName="maritalStatus"
                          class="form-control"
                        >
                          <option [ngValue]="null"
                            >Selecione uma opção...</option
                          >
                          <option value="SINGLE">Solteiro</option>
                          <option value="MARRIED">Casado</option>
                          <option value="SEPARATED">Separado</option>
                          <option value="DIVORCED">Divorciado</option>
                          <option value="WIDOWED">Viúvo</option>
                        </select>
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div style="display: flex">
                      <div class="col-xs-12 col-md-4" style="padding: 0; display: flex; flex-direction: column;">
                        <div class="col-xs-12 col-md-12">
                          <app-form
                            [label]="
                              investor?.cnpj !== undefined
                                ? 'Número do RG do sócio administrador'
                                : 'Número do RG'
                            "
                            [errorMessage]="'Número do RG é um campo obrigatório.'"
                          >
                            <input
                              type="text"
                              formControlName="rg"
                              class="form-control"
                              maxlength="9"
                            />
                          </app-form>
                        </div>
                        <div class="col-xs-12 col-md-12">
                          <app-form
                            [label]="'Orgão emissor'"
                            [errorMessage]="'Orgão emissor é um campo obrigatório.'"
                          >
                            <select
                              formControlName="rgEmitter"
                              class="form-control"
                            >
                              <option [ngValue]="null"
                                >Selecione uma opção...</option
                              >
                              <option value="SSP">SSP</option>
                              <option value="SSP-AC">SSP-AC</option>
                              <option value="SSP-AL">SSP-AL</option>
                              <option value="SSP-AM">SSP-AM</option>
                              <option value="SSP-AP">SSP-AP</option>
                              <option value="SSP-BA">SSP-BA</option>
                              <option value="SSP-CE">SSP-CE</option>
                              <option value="SSP-DF">SSP-DF</option>
                              <option value="SSP-ES">SSP-ES</option>
                              <option value="SSP-GO">SSP-GO</option>
                              <option value="SSP-MA">SSP-MA</option>
                              <option value="SSP-MG">SSP-MG</option>
                              <option value="SSP-MS">SSP-MS</option>
                              <option value="SSP-MT">SSP-MT</option>
                              <option value="SSP-PA">SSP-PA</option>
                              <option value="SSP-PB">SSP-PB</option>
                              <option value="SSP-PE">SSP-PE</option>
                              <option value="SSP-PI">SSP-PI</option>
                              <option value="SSP-PR">SSP-PR</option>
                              <option value="SSP-RJ">SSP-RJ</option>
                              <option value="SSP-RN">SSP-RN</option>
                              <option value="SSP-RO">SSP-RO</option>
                              <option value="SSP-RR">SSP-RR</option>
                              <option value="SSP-RS">SSP-RS</option>
                              <option value="SSP-SC">SSP-SC</option>
                              <option value="SSP-SE">SSP-SE</option>
                              <option value="SSP-SP">SSP-SP</option>
                              <option value="SSP-TO">SSP-TO</option>
                              <option value="CREA">CREA</option>
                              <option value="MAE">MAE</option>
                              <option value="IML">IML</option>
                              <option value="OAB">OAB</option>
                              <option value="CARTORIO">Cartório Civil</option>
                              <option value="DETRAN">DETRAN</option>
                              <option value="FEDERAL">Polícia Federal</option>
                            </select>
                          </app-form>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-content: center; border: 1px solid #2e7e89; border-radius: .25em; padding: .5em; height: 100%;">
                          <div class="rg-preview" *ngIf="base64RG" [ngStyle]="{'background-image': 'url(' + base64RG + ')'}" style="max-width: 100%;"></div>
                          <button class="btn-editar-rg btn-photo" type="button">
                            <label for="rgInputFile" style="font-size: 1.5rem">
                              {{base64RG ? 'Editar' : 'Anexar'}} RG &nbsp;
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </label>
                            <input
                              id="rgInputFile"
                              style="display: none"
                              title="Selecione foto do RG"
                              type="file"
                              (change)="onUploadRG($event)"
                              accept=".png, .jpg, .jpeg"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  </div>
                </div>
                <div class="tab-pane" id="tab_2" formGroupName="address">
                  <div class="row">
                    <div class="col-xs-12 col-md-3">
                      <app-form
                        [label]="'CEP'"
                        [errorMessage]="'CEP é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          (blur)="getCep()"
                          formControlName="zipCode"
                          class="form-control zipCode"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-9">
                      <app-form
                        [label]="'Logradouro'"
                        [errorMessage]="'Logradouro é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="street"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <app-form
                        [label]="'Número'"
                        [errorMessage]="'Número é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="number"
                          class="number form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <app-form
                        [label]="'Bairro'"
                        [errorMessage]="'Bairro é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="neighborhood"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <app-form
                        [label]="'Complemento'"
                        [errorMessage]="'Complemento é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="complement"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <app-form
                        [label]="'Cidade'"
                        [errorMessage]="'Cidade é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="city"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-3">
                      <app-form
                        [label]="'Estado'"
                        [errorMessage]="'Estado é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="uf"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab_3">
                  <p>Conforme exigido pela Instrução CVM 588/2017</p>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <app-radio
                          [options]="investorProfileStatements"
                          formControlName="investorProfileStatement"
                        >
                        </app-radio>
                      </div>
                    </div>
                  </div>
                  <fieldset>
                    Declaração dos Valores Investidos no Ano-Calendário *
                  </fieldset>
                  <p>
                    Conforme exigido pela Instrução CVM 588/2017. Somente
                    incluir o montante já investido no ano-calendário em ofertas
                    dispensadas de registro nos termos da Instrução CVM 588/2017
                    por meio de plataformas eletrônicas de investimento
                    participativo.
                  </p>

                  <div class="row">
                    <div class="col-md-4">
                      <app-form
                        [label]="'Na plataforma da InvestPlus'"
                        [errorMessage]="'Plataforma é um campo obrigatório.'"
                      >
                        <div class="input-group">
                          <span class="input-group-addon">R$</span>
                          <input
                            type="text"
                            formControlName="investedUpangel"
                            class="money form-control"
                            disabled
                          />
                        </div>
                      </app-form>
                    </div>
                    <div class="col-md-4">
                      <app-form
                        [label]="'Outras plataformas'"
                        [errorMessage]="
                          'Outras plataformas é um campo obrigatório.'
                        "
                      >
                        <div class="input-group">
                          <span class="input-group-addon">R$</span>
                          <input
                            (keyup)="
                              calculateInvestment(
                                form.value.totalInvestedOthers
                              )
                            "
                            type="text"
                            formControlName="totalInvestedOthers"
                            class="money form-control"
                            maxlength="13"
                          />
                        </div>
                      </app-form>
                    </div>
                    <div class="col-md-4">
                      <app-form
                        [label]="'Total'"
                        [errorMessage]="'Total é um campo obrigatório.'"
                      >
                        <div class="input-group">
                          <span class="input-group-addon">R$</span>
                          <input
                            [(ngModel)]="investmentValue"
                            type="text"
                            formControlName="totalInvested"
                            class="money form-control"
                            disabled
                          />
                        </div>
                      </app-form>
                    </div>
                  </div>
                  <fieldset>Declaração pessoa politicamente exposta</fieldset>
                  <p>
                    Considera-se aquela que desempenha ou tenha desempenhado,
                    nos últimos 5 (cinco) anos, cargos, empregos ou funções
                    públicas relevantes, no Brasil ou em outros países,
                    territórios e dependências estrangeiras, assim como seus
                    representantes, familiares e outras pessoas de seu
                    relacionamento próximo.
                  </p>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <app-radio
                          [options]="publicFigures"
                          formControlName="publicFigure"
                        ></app-radio>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab_4">
                  <div class="row">
                    <div class="col-md-12">
                      <app-form
                        [label]="'Website'"
                        [errorMessage]="'Website é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="personalWebsite"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-md-12">
                      <app-form
                        [label]="'Facebook'"
                        [errorMessage]="'Facebook é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="facebook"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-md-12">
                      <app-form
                        [label]="'Twitter'"
                        [errorMessage]="'Twitter é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="twitter"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-md-12">
                      <app-form
                        [label]="'Linkedin'"
                        [errorMessage]="'Linkedin é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="linkedin"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <app-form
                        [label]="'Como você soube da InvestPlus'"
                        [errorMessage]="
                          'Como soube da InvestPlus é um campo obrigatório.'
                        "
                      >
                        <select
                          formControlName="aboutUpangel"
                          class="form-control"
                        >
                          <option [ngValue]="null"
                            >Selecione uma opção...</option
                          >
                          <option value="INDICACAO">Uma indicação</option>
                          <option value="EVENTO">Um evento</option>
                          <option value="PESSOAL">Um encontro pessoal</option>
                          <option value="IMPRENSA">Na imprensa</option>
                          <option value="GOOGLE">Pela pesquisa Google</option>
                          <option value="ONLINE"
                            >Por outra pesquisa online</option
                          >
                          <option value="FACEBOOK">Facebook</option>
                          <option value="INSTAGRAM">Instagram</option>
                          <option value="LINKEDIN">Linkedin</option>
                          <option value="TWITTER">Twitter</option>
                          <option value="PUBLICIDADE">Publicidade</option>
                          <option value="OUTRO">Outro</option>
                        </select>
                      </app-form>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <app-form
                        [label]="'Código do agente indicador'"
                        [errorMessage]="
                          'Agente indicador é um campo obrigatório.'
                        "
                      >
                        <input
                          type="text"
                          formControlName="agent"
                          class="form-control number"
                          maxlength="4"
                        />
                      </app-form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab_5">
                  <div class="row margin-t-20">
                    <div class="col-xs-12 col-md-8">
                      <app-form
                        [label]="'Instituição'"
                        [errorMessage]="'Instituição é um campo obrigatório.'"
                      >
                        <select
                          formControlName="accountBank"
                          class="form-control"
                        >
                          <option [ngValue]="null"
                            >Selecione uma opção...</option
                          >
                          <ng-container *ngFor="let bank of banks">
                            <option [value]="bank?.code">{{ bank?.name }}</option>
                          </ng-container>

                          <!-- <option value="001">Banco do Brasil SA </option>
                          <option value="341"> Banco Itaú S.A. </option>
                          <option value="033">
                            Banco Santander (Brasil) S.A.
                          </option>
                          <option value="356">
                            Banco Real S.A. (antigo)
                          </option>
                          <option value="652">
                            Itaú Unibanco Holding S.A.
                          </option>
                          <option value="237"> Banco Bradesco S.A. </option>
                          <option value="745"> Banco Citibank S.A. </option>
                          <option value="399">
                            HSBC Bank Brasil S.A. Banco Múltiplo
                          </option>
                          <option value="104"> Caixa Econômica Federal </option>
                          <option value="389">
                            Banco Mercantil do Brasil S.A.
                          </option>
                          <option value="453"> Banco Rural S.A. </option>
                          <option value="422"> Banco Safra S.A. </option>
                          <option value="633"> Banco Rendimento S.A. </option>
                          <option value="046"> Banco ABC Brasil S.A. </option>
                          <option value="025"> Banco Alfa S.A. </option>
                          <option value="641"> Banco Alvorada S.A. </option>
                          <option value="029"> Banco Banerj S.A. </option>
                          <option value="038"> Banco Banestado S.A. </option>
                          <option value="000"> Banco Bankpar S.A. </option>
                          <option value="740"> Banco Barclays S.A. </option>
                          <option value="107"> Banco BBM S.A. </option>
                          <option value="031"> Banco Beg S.A. </option>
                          <option value="096">
                            Banco BM&F de Serviços de Liquidação e Custódia S.A
                          </option>
                          <option value="318"> Banco BMG S.A. </option>
                          <option value="752">
                            Banco BNP Paribas Brasil S.A.
                          </option>
                          <option value="248">
                            Banco Boavista Interatlântico S.A.
                          </option>
                          <option value="036"> Banco Bradesco BBI S.A. </option>
                          <option value="204">
                            Banco Bradesco Cartões S.A.
                          </option>
                          <option value="225"> Banco Brascan S.A. </option>
                          <option value="044"> Banco BVA S.A. </option>
                          <option value="263"> Banco Cacique S.A. </option>
                          <option value="473">
                            Banco Caixa Geral Brasil S.A.
                          </option>
                          <option value="222">
                            Banco Calyon Brasil S.A.
                          </option>
                          <option value="040"> Banco Cargill S.A. </option>
                          <option value="M08"> Banco Citicard S.A. </option>
                          <option value="M19"> Banco CNH Capital S.A. </option>
                          <option value="215">
                            Banco Comercial e de Investimento Sudameris S.A.
                          </option>
                          <option value="756">
                            Banco Cooperativo do Brasil S.A. BANCOOB
                          </option>
                          <option value="748">
                            Banco Cooperativo Sicredi S.A.
                          </option>
                          <option value="505">
                            Banco Credit Suisse (Brasil) S.A.
                          </option>
                          <option value="229">
                            Banco Cruzeiro do Sul S.A.
                          </option>
                          <option value="003"> Banco da Amazônia S.A. </option>
                          <option value="083">
                            Banco da China Brasil S.A.
                          </option>
                          <option value="707"> Banco Daycoval S.A. </option>
                          <option value="M06">
                            Banco de Lage Landen Brasil S.A.
                          </option>
                          <option value="024">
                            Banco de Pernambuco S.A. BANDEPE
                          </option>
                          <option value="456">
                            Banco de Tokyo-Mitsubishi UFJ Brasil S.A.
                          </option>
                          <option value="214"> Banco Dibens S.A. </option>
                          <option value="047">
                            Banco do Estado de Sergipe S.A.
                          </option>
                          <option value="037">
                            Banco do Estado do Pará S.A.
                          </option>
                          <option value="041">
                            Banco do Estado do Rio Grande do Sul S.A.
                          </option>
                          <option value="004">
                            Banco do Nordeste do Brasil S.A.
                          </option>
                          <option value="265"> Banco Fator S.A. </option>
                          <option value="M03"> Banco Fiat S.A. </option>
                          <option value="224"> Banco Fibra S.A. </option>
                          <option value="626"> Banco Ficsa S.A. </option>
                          <option value="394"> Banco Finasa BMC S.A. </option>
                          <option value="M18"> Banco Ford S.A. </option>
                          <option value="233"> Banco GE Capital S.A. </option>
                          <option value="734"> Banco Gerdau S.A. </option>
                          <option value="M07"> Banco GMAC S.A. </option>
                          <option value="612"> Banco Guanabara S.A. </option>
                          <option value="M22"> Banco Honda S.A. </option>
                          <option value="063">
                            Banco Ibi S.A. Banco Múltiplo
                          </option>
                          <option value="M11"> Banco IBM S.A. </option>
                          <option value="604">
                            Banco Industrial do Brasil S.A.
                          </option>
                          <option value="320">
                            Banco Industrial e Comercial S.A.
                          </option>
                          <option value="653"> Banco Indusval S.A. </option>
                          <option value="077"> Banco Inter </option>
                          <option value="630"> Banco Intercap S.A. </option>
                          <option value="249">
                            Banco Investcred Unibanco S.A.
                          </option>
                          <option value="184"> Banco Itaú BBA S.A. </option>
                          <option value="479"> Banco ItaúBank S.A </option>
                          <option value="M09">
                            Banco Itaucred Financiamentos S.A.
                          </option>
                          <option value="376"> Banco J. P. Morgan S.A. </option>
                          <option value="074"> Banco J. Safra S.A. </option>
                          <option value="217"> Banco John Deere S.A. </option>
                          <option value="065"> Banco Lemon S.A. </option>
                          <option value="600">
                            Banco Luso Brasileiro S.A.
                          </option>
                          <option value="755">
                            Banco Merrill Lynch de Investimentos S.A.
                          </option>
                          <option value="746"> Banco Modal S.A. </option>
                          <option value="151"> Banco Nossa Caixa S.A. </option>
                          <option value="045"> Banco Opportunity S.A. </option>
                          <option value="623"> Banco Panamericano S.A. </option>
                          <option value="611"> Banco Paulista S.A. </option>
                          <option value="643"> Banco Pine S.A. </option>
                          <option value="638"> Banco Prosper S.A. </option>
                          <option value="747">
                            Banco Rabobank International Brasil S.A.
                          </option>
                          <option value="M16"> Banco Rodobens S.A. </option>
                          <option value="072"> Banco Rural Mais S.A. </option>
                          <option value="250"> Banco Schahin S.A. </option>
                          <option value="749"> Banco Simples S.A. </option>
                          <option value="366">
                            Banco Société Générale Brasil S.A.
                          </option>
                          <option value="637"> Banco Sofisa S.A. </option>
                          <option value="464">
                            Banco Sumitomo Mitsui Brasileiro S.A.
                          </option>
                          <option value="082"> Banco Topázio S.A. </option>
                          <option value="M20">
                            Banco Toyota do Brasil S.A.
                          </option>
                          <option value="634"> Banco Triângulo S.A. </option>
                          <option value="208"> Banco UBS Pactual S.A. </option>
                          <option value="M14"> Banco Volkswagen S.A. </option>
                          <option value="655"> Banco Votorantim S.A. </option>
                          <option value="610"> Banco VR S.A. </option>
                          <option value="370">
                            Banco WestLB do Brasil S.A.
                          </option>
                          <option value="021">
                            BANESTES S.A. Banco do Estado do Espírito Santo
                          </option>
                          <option value="719">
                            Banif-Banco Internacional do Funchal (Brasil)S.A.
                          </option>
                          <option value="073">
                            BB Banco Popular do Brasil S.A.
                          </option>
                          <option value="078">
                            BES Investimento do Brasil S.A.-Banco de
                            Investimento
                          </option>
                          <option value="069">
                            BPN Brasil Banco Múltiplo S.A.
                          </option>
                          <option value="070">
                            BRB Banco de Brasília S.A.
                          </option>
                          <option value="477"> Citibank N.A. </option>
                          <option value="081"> Concórdia Banco S.A. </option>
                          <option value="487">
                            Deutsche Bank S.A. Banco Alemão
                          </option>
                          <option value="751">
                            Dresdner Bank Brasil S.A. Banco Múltiplo
                          </option>
                          <option value="062">
                            Hipercard Banco Múltiplo S.A.
                          </option>
                          <option value="492"> ING Bank N.V. </option>
                          <option value="488"> JPMorgan Chase Bank </option>
                          <option value="260"> NU PAGAMENTOS S.A. </option>
                          <option value="409">
                            UNIBANCO União de Bancos Brasileiros S.A.
                          </option>
                          <option value="230">
                            Unicard Banco Múltiplo S.A.
                          </option> -->
                        </select>
                      </app-form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-3">
                      <app-form
                        [label]="'Agência'"
                        [errorMessage]="'Agência é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="accountAgency"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                    <div class="col-xs-8 col-md-5">
                      <app-form
                        [label]="'Conta Corrente (com dígito)'"
                        [errorMessage]="'Conta é um campo obrigatório.'"
                      >
                        <input
                          type="text"
                          formControlName="accountNumber"
                          class="form-control"
                        />
                      </app-form>
                    </div>
                  </div>
                  <fieldset>Tornar o perfil básico público?</fieldset>
                  <div class="form-group">
                    <legend class="margin-t-20">
                      <input
                        type="checkbox"
                        formControlName="publicProfile"
                        class="flat-red"
                      />
                      Com um perfil público, outros usuários registrados na
                      Plataforma InvestPlus conseguirão ver a sua foto.
                    </legend>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-footer">
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-upangel">Atualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
