.password-strength {
    margin-top: 5px;
    font-weight: bold;
}

.progress {
    height: 20px;
}

.bg-danger {
    background-color: red;
}

.bg-warning {
    background-color: orange;
}

.bg-success {
    background-color: green;
}

ul {
    margin-top: 10px;
    color: darkred;
    font-size: 14px;
}
