.main-header {
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	background: #FFF;
	width: 100%;
  }

.logo-mini img {
	width: 40px;
	margin-left: -5px;
}

.navbar-mobile {
	display: none;
}

@media (max-width: 450px) {
	.navbar {
		display: none;
	}

	.navbar-mobile {
		display: flex;
	}
}

a:hover {
	background-color: transparent !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #fff;
	border-top: 1px solid #ddd;
	margin: 0px 6px;
	padding: 0px;
	z-index: 999;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-end {
	background-color: #fff;
	margin: 0px 10px;
	padding: 0px;
	z-index: 999;
}

.menu-link {
	font-size: 13px;
	background-color: #fff;
	padding: 10px;
}

.menu-link:hover {
	background-color: #fff;
	padding: 10px;
}

p {
	font-size: 13px;
}

.margin-t-20 {
	margin-top: 20px;
}

/* .logoff {
	color: #fff !important;
	text-decoration: none;
	padding: 7px 15px !important;
	background-color: #04a7c7 !important;
	border-radius: 4px;
	margin: 30px 10px 30px 10px;
	width: 70px;
	font-size: 13px;
} */

.logoff:hover {
	cursor: pointer;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
	margin: 10px;
	z-index: 999;
	text-align: left;
}

.b-b {
	border-bottom: 1px solid #ccc;
}

.name {
	font-size: 15px;
	margin-top: 20px;
	font-weight: 600;
	font-family: "Poppins", sans-serif !important;
}

.email {
	font-size: 13px;
	font-weight: 9990;
	font-family: "Noto Sans", sans-serif !important;
}

.padding-l {
	padding-left: 0px !important;
}

.profile-user-img {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	padding: 1px;
}

.widget-user-image{
	width: 80px;
	height: 40px;
	display: flex;
}

.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #2e7e89 !important;
}

@media (max-width: 991px) {
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
		position: absolute;
		right: 0%;
		left: auto;
		border: 1px solid #ddd;
		background: #fff;
		z-index: 999;
	}

	.menu-link {
		background: #fff !important;
		color: #777 !important;
		padding: 10px !important;
		z-index: 999;
	}
}

.title-header {
	font-size: 13px;
	text-align: left;
	margin: 0px 10px !important;
	font-family: "Poppins", sans-serif !important;
	font-weight: 400;
	color: #909090;
	
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
	padding: 15px 5px 15px 5px;
	margin: 10px 10px;
	border-bottom: 0px solid #ddd;
	z-index: 999;
}

.notification {
	margin-right: 20px;
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	.title-header {
		display: block;
		color: #04a7c7;
	}
}

.name-user {
	font-size: 11px !important;
	font-family: "Poppins", sans-serif !important;
}

.main-header .logo {
	height: 51px !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
  }
  
  .content-wrapper {
	flex-grow: 1;
  }
  
  .main-header {
	width: calc(100% - var(--sidebar-width));
	transition: width 0.3s ease-in-out;
  }
  
  .minimized .main-header {
	--sidebar-width: 6%;
  }
  
  .expanded .main-header {
	--sidebar-width: 17.4%;
  }
  

  .main-header nav {
	transition: width 0.3s ease-in-out;
  }

		.main-sidebar {
			margin: 0 !important;
			height: 100% !important;
			flex-shrink: 0 !important;
			padding-left: 24px;
			padding-right: 24px;
			min-width: 25rem;
			max-width: 25rem;
			border-right: 1px solid #E5E5E5 !important;
			background: #202022 !important;
			padding-top: 20px !important;
			border-top: none !important;
		}
	
		@media (max-width: 450px) {
			.main-sidebar {
				display: none;
			}
		}
	
		.rotate-90 {
			transform: rotate(90deg);
		}
	
		.minimize-container {
			display: flex;
			align-items: center;
			gap: 10px;
			position: absolute !important;
			top: 120px;
			right: -75px;
		}
	
		.minimize-container2 {
			display: flex;
			align-items: center;
			gap: 10px;
			position: absolute !important;
			top: 120px;
			right: -84px;
		}
	
		.tooltipContainer {
			display: flex;
			align-items: center;
			visibility: hidden;
		}
	
		.minimize-button:hover+.tooltipContainer {
			visibility: visible;
		}
	
		.minimize-button {
			width: 20px;
			display: flex;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			height: 20px;
			background-color: #202022;
			border: 1px solid #606060 !important;
			border-radius: 100%;
			z-index: 1000;
		}
	
		.minimize-tooltip {
			display: flex;
			justify-items: center;
			align-items: center;
			background-color: #333333;
			border-radius: 4px;
			padding: 8px;
			color: #FFFFFF;
			z-index: 1000;
		}
	
		.minimize-tooltip span {
			font-size: 12px;
			font-weight: 500;
		}
	
		.sidebar-dois {
			padding-bottom: 50px;
		}
	
		.center-side-menu {
			padding: 0;
			margin: 0 auto;
			list-style: none;
		}
	
		.center-side-menu>li {
			border-radius: 8px;
			padding: 9px;
			margin-bottom: 8px;
			cursor: pointer;
		}
	
		.center-side-menu>li:hover,
		.center-side-menu>li.active {
			background-color: #FFFFFF14;
		}
	
		.center-side-menu>li.active svg path {
			stroke: #FFFFFF;
		}
	
		.center-side-menu>li svg path {
			stroke: #BFBFBF;
		}
	
		.center-side-menu>li.active span.menu-text {
			color: #FFFFFF;
			font-weight: 500;
		}
	
		.left-side-menu {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	
		.left-side-menu>li {
			border-radius: 8px;
			padding: 9px;
			margin-bottom: 8px;
			cursor: pointer;
		}
	
		.left-side-menu>li:hover,
		.left-side-menu>li.active {
			background-color: #FFFFFF14;
		}
	
		.left-side-menu>li.active svg path {
			stroke: #FFFFFF;
		}
	
		.left-side-menu>li svg path {
			stroke: #BFBFBF;
		}
	
		.left-side-menu>li.active span.menu-text {
			color: #FFFFFF;
			font-weight: 500;
		}
	
		.sidebar-dois a {
			color: #BFBFBF;
			font-size: 14px;
		}
	
		.user-panel>.info {
			padding: 15px 5px 5px 15px;
			line-height: 1;
			position: absolute;
			left: 55px;
		}
	
		.skin-blue .treeview-menu>li.active>a,
		.skin-blue .treeview-menu>li>a:hover {
			color: #444 !important;
		}
	
		.slimScrollBar {
			background: rgb(119, 119, 119) !important;
			width: 10px !important;
			border-radius: 1px !important;
		}
	
		.left-side-admin {
			padding: 11px 5px 11px 20px !important;
		}
	
	
		.circle-arrow {
			width: 9%;
			border: 1px solid #606060;
			background-color: #202022;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: 10px;
		}
	
		.menu-text {
			font-family: Poppins, sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
			text-align: left;
			color: #BFBFBF;
		}
	
		.header-menu {
			font-family: Poppins, sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
			text-align: left;
			color: #BFBFBF;
		}
	
		.sidebar-divider {
			width: 100% !important;
			background: #353535 !important;
			color: #353535 !important;
			border: none !important;
			height: 1px !important;
		}
	
		.invest-buttons {
			width: 100%;
			height: 40px;
			flex-shrink: 0;
			border-radius: 8px;
			background: #171719;
			display: flex;
			padding: 4px;
		}
	
		.invest-buttons button {
			width: 50%;
			flex-shrink: 0;
			border-radius: 0.25rem;
			font-family: Poppins, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: 100%;
			cursor: pointer;
			border: none;
		}
	
		.invest-buttons button.active {
			background: #00A8E7;
			border-radius: 4px;
			color: #171719;
			font-weight: 500;
		}
	
		.invest-buttons button:not(.active) {
			background: transparent;
			color: #E1E1E1;
			font-weight: 400;
		}
	
		i {
			margin-right: 3%;
		}
	
		.tooltip-container {
			position: relative;
			display: inline-block;
		}
	
		.tooltip-container .tooltip-text {
			visibility: hidden;
			width: 120px;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: 4px;
			padding: 5px;
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 125%;
			/* Alinha o tooltip à direita do ícone */
			margin-top: -16px;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			/* Controle da velocidade de exibição */
		}
	
		.tooltip-container:hover .tooltip-text {
			visibility: visible;
			opacity: 1;
		}
  