<header class="main-header" style="z-index: 1;">
	<nav class="navbar navbar-fixed-top" style="border-width: 1px 0px; border-style: solid; border-color: #E5E5E5;">
		<a>       
			<i class="fa fa-home" aria-hidden="true" style="color: #909090; font-size: 18px; margin-left: 2%; margin-top: 1.3%;"></i>
			<i class="ion ion-ios-arrow-forward" style="color: #909090; font-size: 15px; margin-left: 1%;"></i>
			<span class="title-header" style="font-size: 15px; margin-left: 1%;">{{ titleHeader.title }}</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown notifications-menu">
					<a
						style="font-size: 17px"
						href="https://investplus.vc/termos-gerais/"
						class="dropdown-toggle"
						target="_blank"
					>
						<i class="fa fa-question" style="color: #909090;"></i>
					</a>
				</li>
				<li class="dropdown notifications-menu">
					<a
						style="font-size: 16px"
						href="#"
						class="dropdown-toggle"
						data-toggle="dropdown"
					>
						<i class="fa fa-bell-o" style="color: #909090;"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="header">
							<p>
								<img
									class="notification"
									width="20"
									src="/assets/img/notification.png"
								/>Nenhuma notificação.
							</p>
						</li>
					</ul>
				</li>
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="name-user" style="color: #000000; font-family: Poppins , sans-serif;
						font-size: 12px;
						font-weight: 500;
						line-height: 12px;
						text-align: left;
						">{{
							investor?.fullName.split(" ")[0].toUpperCase()
						}}</span>
						<i
							style="color: #1F1F1F; margin-left: 5px; font-weight: 500; font-size: 18px;"
							class="fa fa-fw fa-angle-down"
						></i>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header" style="background-color: #fff">
							<div class="row">
								<div class="col-md-12">
									<p class="name">
										{{ investor?.fullName }} <br /><span
											class="email"
											>{{ investor?.email }}</span
										>
									</p>
								</div>
							</div>
						</li>
						<li class="user-footer">
							<a routerLink="./user" class="menu-link">Perfil</a>
						</li>
						<li class="user-footer">
							<a
								routerLink="./user/trocar-senha"
								class="menu-link"
								>Trocar Senha</a
							>
						</li>
						<li class="user-footer">
							<a routerLink="./portfolio" class="menu-link"
								>Meus Ativos</a
							>
						</li>
						<li class="user-footer">
							<a routerLink="./rounds/token" class="menu-link"
								>Rodadas Exclusivas</a
							>
						</li>
						<li class="user-end">
							<a (click)="logout()" class="logoff"
								>Sair
								<i class="fa fa-fw fa-long-arrow-right"></i
							></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>


	<!-- <a class="logo" href="http://www.investplus.vc">
		<span class="logo-mini"
			><img src="/assets/img/fcjinvestplus_branco.png" alt="Logo"
		/></span>

		<span class="logo-lg"
			><img src="/assets/img/fcjinvestplus_branco.png" alt="Logo"
		/></span>
	</a> -->