<div *ngIf="loader">
  <app-loader [loader]="loader"></app-loader>
</div>
<div *ngIf="!loader">
  <section class="content">
    <div style="margin-top: 40px;">
      <h3 style="font-size: 24px; color: #1F1F1F; font-family: 'Poppins', sans-serif; font-weight: 500;">Análise de carteira
      </h3>
      <p style="color: #505050; font-family: 'Poppins', sans-serif; font-size: 14px;">Verifique aqui todos os dados da sua carteira.</p>
    </div>

    <div style="width: 100%; height: 100%; display: flex; gap: 16px;">
      <div style="width: 100%; height: 100%;">
        <div class="portfolio-grid">
          <div *ngFor="let card of cards" class="portfolio-item" [ngStyle]="{'background-color': card.backgroundColor}">
            <h1>{{ card.title }}</h1>
            <div class="portfolio-content">
              <p>{{ card.value }}</p>
              <ng-container *ngIf="card.showSvg">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_409_3001)">
                    <path d="M8 0.666016V15.3327" stroke="#035A7A" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M11.6666 2C11.6666 2 8.32349 2 6.66663 2C5.00976 2 3.66663 3.34313 3.66663 5C3.66663 6.65687 5.00976 8 6.66663 8"
                      stroke="#035A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M4.33337 14C4.33337 14 7.67651 14 9.33337 14C10.9902 14 12.3334 12.6569 12.3334 11C12.3334 9.34313 10.9902 8 9.33337 8H6.66671"
                      stroke="#035A7A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_409_3001">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </ng-container>
            </div>
          </div>
        </div>
      
        <div style="width: 100%; display: flex; gap: 16px;">
          <div
            style="width: 50%; background-color: white; border-radius: 4px; margin-top: 16px; padding: 20px 16px; border-radius: 4px;">
            <p>Meus ativos</p>
      
            <div style="width: 200px; height: 200px; display: flex; gap: 16px;">
              <app-doughnut [nChart]="'1'" width="200" height="200" type="doughnut"
                [backgroundColor]="['#035A7A66', '#035A7A']" [borderColor]="['#035A7A66', '#035A7A']"
                [labels]="['Startup', 'Totais investidos']" [data]="[2000100, 274350]"
                [options]="{ legend: {display: false}, maintainAspectRatio: false }">
              </app-doughnut>
      
              <div style="width: 100%;">
                <div style="width: 100%;">
                  <p style="font-size: 14px; color: #1F1F1F; font-family: 'Poppins', sans-serif; font-weight: 500;"><span
                      style="color: #035A7A; font-size: 18px; margin-right: 5px;">º</span>Startup</p>
                  <p
                    style="font-size: 14px; color: #121212; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 18px;">
                    R$2.000.100,00
                  </p>
      
                  <div>
                    <p style="font-size: 14px; color: #1F1F1F; font-family: 'Poppins', sans-serif; font-weight: 500;"><span
                        style="color: #035A7A; font-size: 18px;">•</span> Totais investidos</p>
                    <p
                      style="font-size: 14px; color: #121212; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 18px;">
                      R$274.350,00
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            style="width: 50%; background-color: white; border-radius: 4px; margin-top: 16px; padding: 20px 16px; border-radius: 4px;">
            <p>Meu histórico</p>
      
            <app-bar nChart="'4'" type="bar" [data]="dataBar" height="180" [options]="optionsBar">
            </app-bar>
          </div>
        </div>
      </div>

      <div style="background-color: white; padding: 16px 20px; min-width: 300px; border-radius: 4px;">
        <div style="display: flex;justify-content: space-between;">
          <div>
            <p style="font-size: 14px; font-weight: 600;">Últimos investimentos</p>
            <p style="font-size: 12px; color: #555555;">Ultima leitura 13 de abril</p>
          </div>
          <p style="font-size: 12px; color: #555555;">Resultados <span style="color: #035A7A;">03</span></p>
        </div>

        <div style="width: 100%; height: 40px; background-color: #F6F6F8; border-radius: 4px; margin-top: 24px; padding: 0 16px; gap: 18px; display: flex; align-items: center;">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.12496 11.0827C8.86336 11.0827 11.0833 8.86275 11.0833 6.12435C11.0833 3.38595 8.86336 1.16602 6.12496 1.16602C3.38656 1.16602 1.16663 3.38595 1.16663 6.12435C1.16663 8.86275 3.38656 11.0827 6.12496 11.0827Z"
              stroke="#505050" stroke-width="1.5" stroke-linejoin="round" />
            <path d="M9.68958 9.68945L12.1645 12.1643" stroke="#505050" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

          <input type="text" placeholder="Pesquisar investimentos" style="border: none; outline: none; width: 100%; height: 100%; color: #707070; background-color: transparent;">
        </div>
      </div>
    </div>


  </section>
</div>
